[2014-02-07 15:33] DeepDiver1975 opened #1 "Setup L10n"

[2014-02-07 15:33] DeepDiver1975 opened #2 "Add support for travis-ci"

[2014-02-07 15:35] jancborchardt opened #3 "Underscores in repo names"
Can we please not use underscores in repo names? We always used dashes and they also look better.

This is the same for web_hooks (cc @DeepDiver1975) and mozilla_sync (cc @ogasser)

Can you change that @karlitschek?

[2014-02-07 15:55] #3 closed, assigned to nobody

[2014-02-08 16:58] Niduroki opened #5 "Misleading repo-name"
If you clone this repository without giving it a special name it will be named text_editor.

The app is named [files_texteditor](https://github.com/owncloud/text_editor/blob/master/appinfo/info.xml#L3) making [OC_App::getAppInfo($app);](https://github.com/owncloud/core/blob/master/lib/private/app.php#L241) search for a directory called files_texteditor, failing on that (see above) and saying "App

[2014-02-11 12:31] fossxplorer opened #7 "Text Editor broken on stable6"
@tomneedham Is Text Editor compatible with stable6/6.0.1? I get a warning trying to enable it about incompatibility and changing to <require>6 </require> let's you install it, but screws up CSS of the whole OC.

[2014-02-11 16:15] #7 closed, assigned to nobody

[2014-02-11 16:47] #5 closed, assigned to nobody

[2014-02-28 14:04] mikeazo opened #10 "Breadcrumb issues with long paths when editing a text file"
### Steps to reproduce
1. Put a text file in a directory with a long path
2. Click on the text file to edit it

### Expected behavior
Since the path is so long, it cannot all fit in the breadcrumb. When not in the editor, a ... shows up in the breadcrumb. Expect that the ... would stay when in the editor.

### Actual behavior
The ... goes away and the whole path shows up in the breadcrumb. This pu

[2014-03-17 14:18] PVince81 opened #13 "Add public preview for text files"
### Steps to reproduce:
1. Create text file
2. Share as public link
3. Open public link
### Actual result

Ugly preview (enlarged thumbnail)
### Expected result

Show the actual text, maybe with a white background.
Keep it read-only as a first step.

[2014-04-16 17:00] 13MaxG opened #14 "Opening cpp files"
I have owncloud 6(clean installation from repository). I can edit files which have format like *.txt, *.py, but I can't open and edit a *.cpp files, the file is automatically downloaded.
It is strange, because I have in editor.js of files_texteditor line:
filetype["cpp"] = "c_cpp";
How  can I repair this?

[2014-05-09 13:21] tomneedham opened #15 "Use etag for comparison of files"
See: https://github.com/owncloud/core/issues/8206#issuecomment-42663657

ETAG should be used instead of mtimes.

[2014-05-12 10:58] #14 closed, assigned to nobody

[2014-06-04 09:37] PVince81 opened #17 "Make text editor work with sharing overview"
Currently the text editor can only work in the files app.

The following needs to be done:
1) Use OCA.Files.fileActions.register() instead of the deprecated FileActions.register()
2) Use the action's context variable to find out in which fileList to render the container/breadcrumb
3) Better encapsulation of the code, needs to support the existence of multiple file list DOM elements on the same pag

[2014-06-07 16:32] vgezer opened #18 "Layout change broke the controls layout"
On the left, we still have the CSS setting from files app, but either we should display the app-navigation or move the breadcrumbs to the left.

![image](https://cloud.githubusercontent.com/assets/231068/3209228/21c773f0-ee61-11e3-8f07-2f28f550ed01.png)

@jancborchardt?

[2014-06-12 18:58] #18 closed, assigned to nobody

[2014-07-04 23:25] timmie opened #21 "iOS: keyboard does not open"
If I click on an opened text file in the web file view, the field is not recognized as text entry field in iOS. Thus, the keyboard does not open/show.

[2014-07-20 08:07] ghost opened #25 "Unable to open perl files"
The extension is listed in editor.js, and all the other file types named in there i try open in the editor, just .pl files always download

ownCloud 6.0.4 (stable)

[2014-07-22 16:58] mikeazo opened #26 ""Failed to save file" never goes away"
When you click save or press the save hot-key, it is very nice that you are warned if saving the file failed. The only problem is, the warning never goes away. I clicked save again (which was successful) but the warning stayed. I closed the text editor and the warning was still there. I reopened the editor, and it persisted. Only refreshing the page would get it to finally disappear. I would expec

[2014-08-04 08:37] labkode opened #30 "Shortcut to save not working"
When you use the shortcut Ctrl+S to save the file instead clicking save, it only works the first time.

[2014-08-04 09:27] gauthampait opened #31 "OwnCloud not excluding icon files which is hidden."
When we add a custom icon to the Finder's folder there is a hidden icon file that gets created. OwnCould has to exclude the file. I believe it is possible by adding an entry to the exclude file. Could you kindly let me know how to exclude this file ?

Could you please not please all the hidden files. We see that the hidden files created by the application is being synced.

[2014-08-04 15:48] gauthampait opened #32 "OwnCloud does not sync all the files in the first sync attempt."
The application is not syncing all the files in the first sync session. We will have to launch worker again to get all the files synced. It gives the file list to be synced but keeps the state as SYNCING and terminates the worker.

[2014-08-05 10:30] #32 closed, assigned to nobody

[2014-08-06 19:04] #21 closed, assigned to nobody

[2014-08-07 20:46] #30 closed, assigned to nobody

[2014-08-08 09:37] tomneedham opened #35 "Error message(s) do not disappear after closing the text editor"

[2014-08-21 17:09] tomneedham opened #37 "Upgrade text editor to use new file view code"
This is required going forward, to enable public preview and text editor in other views than 'all files'.

Removing code that was introducing circa OC 2.

[2014-08-27 15:57] rperezb opened #39 "If I share a file and access to that link not all the info is shown"
STEPS TO REPRODUCE:
1.- Create a txt file with the folllowing info:

Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectet

[2014-09-15 12:15] adminrezo opened #42 "Concurential access on a share"
When 2 users works on a same file :
The second user which saves the file gets a warning : "Cannot save file as it has been modified since opening".
It would be good to have an other button "save as ..." otherwise the second user can't do anything with his modified file.

Thx

[2014-09-18 21:54] #35 closed, assigned to nobody

[2014-09-18 21:55] #31 closed, assigned to nobody

[2014-09-18 21:56] #25 closed, assigned to nobody

[2014-09-18 21:57] #26 closed, assigned to nobody

[2014-09-22 07:56] MorrisJobke opened #43 "Breadcrumbs broken in text_editor - missing trailing /"
After opening a file in a subfolder the breadcrumbs are shown. If you click now on one of the parent folders you get redirected to the root folder, because the link is missing a trailing `/` and this route doesn't exists:

How the link of one bread crumb looks now(`...files?...`)

[code]

How it should be (`...files/?...`):

[code]

[2014-09-22 08:26] #43 closed, assigned to nobody

[2014-09-22 17:25] RobinJ1995 opened #44 "Folder-specific buttons appear when filename clicked in breadcrumb"
1. Open a text file
![snapshot364](https://cloud.githubusercontent.com/assets/3089559/4360558/ea577f80-427c-11e4-9d55-5f0d7e2fc267.png)
2. Click the filename in the breadcrumb navigation bar (to the left of the save button; `22-09-14 Herhaling.txt` in this case)

Result:
1. User gets a loading screen for a second or so.
2. _New_ and _Upload_ buttons (which belong in the folder view) appear.
3. The

[2014-10-07 20:00] edonnachie opened #45 "Markdown extension .mkd not recognised"
Markdown files with extension ".mkd" are not recognised by the text editor and are therefore not available for editing.

.mkd is defined in editor.js, but not in "ext-modeline.js" or "ext-settings_menu.js" under "js/vendor/ace/src-noconflict". Here, the relevant line appears to be "Markdown: ["md|markdown"]".

[2014-10-17 16:17] falconws opened #46 "Shift-JIS text file broken view"
1. upload text file that include Japanese character (saving Shift-JIS).
    Using [notepad.exe] etc...
2. app+ > text editor plugin on
3. click uploaded text file problem appear.

owncloud.log
{"app":"PHP","message":"iconv(): Detected an illegal character in input string at \/var\/www\/owncloud\/apps\/search_lucene\/3rdparty\/Zend\/Search\/Lucene\/Analysis\/Analyzer\/Common\/TextNum.php#58","level

[2014-11-01 09:30] bram85 opened #47 "Saved files cannot be downloaded with WebDAV"
### Steps to reproduce
1. Edit a text file with the files_texteditor
2. Save
3. Try to download the text file with a WebDAV client, such as the owncloud Android client.
4. Download stalls (halfway) and won't succeed.
### Observations
- When I save the file, it is reported to be twice as large as it actually is. So I edit an 8 KB text file, save it, the owncloud Files app reports it as 16 KB.
- Web

[2014-11-04 10:32] PVince81 opened #48 "Text editor messes up with trashbin breadcrumb"
### Steps:
1. Open file "test.txt" in text editor
2. Close the editor by clicking "Close"
3. Go to "Deleted files"

### Expected result
Breadcrumb looks fine, home icon still there.

### Actual result
Home icon was replaced by "test.txt".

### Versions
stable7 (256b5a970d9b2d87414159537f24eee57318cc84)

I believe this issue might be that the text editor is using global selectors.
If https://github

[2014-11-09 10:36] biobeo opened #49 "Change title from text editor"
This problem has been forwarded from ownCloud forum:
http://forum.owncloud.org/viewtopic.php?f=29&t=24656

I have changed title in other pages. Everything is fine. But when I create a newtext.txt and double click that to edit, It came up with a page that has been titled with the file name and then - ownCloud for example if I click the newtext.txt and double click to edit this file, The title will

[2014-11-13 17:04] cdamken opened #50 "[7.0.3] Text editor not compatible with browser back button"
### expected behavior

modify a text, save and click back in browser and goes back to the files directory

### actual behavior

modify a text, save and click back in browser and stay in the editing, but path appears 2 times up.

if you press many times (back) it goes randomly to any page you had open (I still can't explain why it jumps to different pages)

In reference of : https://github.com/ownc

[2014-11-18 17:22] #47 closed, assigned to nobody

[2014-12-30 18:13] hklcf opened #52 ".pl file can't open with editor"
.pl file can't open with editor

[2015-01-05 10:48] cdamken commented on #50
@PVince81 How about the workaround? https://github.com/owncloud/files_texteditor/issues/50#issuecomment-62929645

[2015-01-05 19:30] DeepDiver1975 commented on #50
Out of scope for OC8 -> OC8.1

[2015-01-13 15:52] jancborchardt commented on #17
@tomneedham any update on this? This also breaks opening text files in the Favorites view.

[2015-01-14 10:38] tomneedham commented on #17
Yes I shall take a look at this this week

[2015-01-16 11:54] PVince81 commented on #50
Prerequisite work in core: https://github.com/owncloud/core/issues/13414

[2015-01-27 11:20] DeepDiver1975 commented on #37
moving this to 8.1 - we are running out of time for 8.0

[2015-01-27 11:25] DeepDiver1975 commented on #17
not nice - but not critical as well -> 8.1

[2015-01-28 14:28] labkode opened #55 "Limit max file size on open files"
If you open an editable file like .txt or .c files and the size of these files are very big (~GB) there is not any protection so the server reach the "Out of memory"  php error. That blocks the interface and stresses the memory of the server.
We should provide a configurable option to limit the open of files.
DropBox for example has a limit of 4 MB.

[2015-01-29 10:44] rzg-kaiser opened #58 "Text editor freezes when trying to load non-existing shared file"
editor.js:209 $.getJSON(..., loadfile.php)

Loadfile.php returns a HTML error page ("not authenticated") with HTTP status code 500
for remote shares that no longer exist.

The callback passed to $.getJSON() only gets executed on success (see jQuery docs), so the subsequent error handling never gets called and the editor pane freezes in the browser.

Possible fix (needs work to display sensible err

[2015-01-29 11:12] MorrisJobke commented on #58
@tomneedham Can you have a look at this? Thanks.

[2015-01-29 13:52] DeepDiver1975 commented on #58
@rzg-kaiser can I ask you to submit your patch as pull request here on github? THX

[2015-01-29 14:28] rzg-kaiser commented on #58
@DeepDiver1975 I just submitted pull request https://github.com/owncloud/files_texteditor/pull/59

[2015-02-07 16:41] wakeup commented on #1
Any update on this?

[2015-02-10 15:30] MorrisJobke opened #60 "New Lines are ignored on Windows"
On Windows when creating a text-file in the browser and then open it locally in Notepad, new lines are ignored.

### Steps to reproduce
Tested on Windows 7 with IE 11 on ownCloud Server 6 with client 1.7.1  and ownCloud Server 7  with ownCloud client 1.7.1 :
1. go to the browser and create a text-file.
2. edit the newly created text-file and write on multiple lines. ie.
		"hi
		there
		how
		are

[2015-02-10 16:31] DeepDiver1975 commented on #1
https://ci.owncloud.org/view/translation-sync/job/translation-sync-files_texteditor/

finally ... after all these years

[2015-02-10 16:31] #1 closed

[2015-02-14 14:52] tomneedham commented on #60
My knowledge of encoding is limited here, but on doing some reading I believe it comes down to how Notepad interprets newline characters. Notepad requires CR AND LF, whereas by default Unix is happy with just LF, and this is what the text editors saves as.

On the other hand, Wordpad (also installed by default on Windows) will handle just LF correctly.

I can try using this: http://ace.c9.io/api/d

[2015-02-27 18:14] tomneedham commented on #60
@MorrisJobke

[2015-02-27 19:04] MorrisJobke commented on #60
It's always bad to decide on this for the user. ... @owncloud/designers for this UX question

[2015-02-28 18:59] tomneedham commented on #58
@rzg-kaiser Please can you clarify the steps taken to reproduce this bug? I tried the following, but your patch does not fix the issue:

 - Setup two users, userA and userB
 - Create a file, fileA as userA
 - Share fileA with userB
 - Load web interface as userB
 - Without refreshing, remove the share using the share dialog as userA
 - Without refreshing, try to edit the file

Expected: Nice messa

[2015-03-01 09:18] rzg-kaiser commented on #58
@tomneedham The issue are *remote* shares. My slightly modified steps to reproduce look like this:

* Setup two users, User A and User B
  * Ideally, the two users should be on different servers. However due to what I consider a different issue, mounting remote shares from your own server works as well at the moment.
* User A: Create file
* User A: Share file with User B *via link*
* User B: Open

[2015-03-01 22:11] tomneedham commented on #60
@MorrisJobke If I understand correctly we can set the new line mode within Ace to 'windows' and this should fix the issue on Windows and still work as intended on unix. Let me test this.

[2015-03-01 22:50] tomneedham commented on #60
Tested this. If we set the line endings to 'windows' they are correctly interpreted by unix and windows (including Notepad) editors. Maybe this is a safer default? Thoughts here @DeepDiver1975 and @MorrisJobke

[2015-03-02 07:36] MorrisJobke commented on #60
@tomneedham This sounds like a reasonable work around. And usually all editors on Mac/Linux also know the Windows line break format. So there shouldn't be any problem.

[2015-03-02 09:19] DeepDiver1975 commented on #60
seriously - notepad is a piece of shit editor - we will not add any kind of line ending conversions.
This is nightmare already on version control systems.

I vote for 'Won't fix'

[2015-03-02 13:24] jancborchardt commented on #60
Does it only happen with Notepad though? If we can just set another line ending mode in Ace and it’s fixed with that, let’s do it.

[2015-03-02 13:27] PVince81 commented on #60
The question here is if you change the line ending in ACE regardless of OS, when I save the file, will it still have UNIX endings or will ACE convert all my text files to DOS on save ? (which is not acceptable)

[2015-03-02 13:30] tomneedham commented on #60
Yes. Even with Wordpad on Windows it works fine.

I believe the setting only influences 'new lines' made inside of Ace. https://github.com/owncloud/files_texteditor/commit/042b0734ccf7df66cdccaa998eb4b58d46a0664a

Let me test this.

[2015-03-05 13:36] nickvergessen commented on #60
same here. The solution is use something that is not stupid on windows to edit files.
All source code files are one liners in this stupid so called "editor".
Not worth any troubles, or even breaking files. The user enters `\n` by pressing enter in the editor window. So he wants a normal line break. We can't blindly guess whether one user will open the file with a crappy editor or a decent one.

[2015-03-05 20:34] enoch85 commented on #60
Related #14268

[2015-03-06 09:15] DeepDiver1975 commented on #60
@enoch85 no - totally unrelated

[2015-03-06 15:38] jancborchardt commented on #60
@MorrisJobke so what do you think? Do you agree with "Won’t fix"?

[2015-03-06 15:43] MorrisJobke commented on #60
@jancborchardt Yes. @cdamken Did you understand the solution for this?

[2015-03-06 16:17] #60 closed

[2015-03-10 15:43] eephyne opened #61 "text editor is placed on the slide menu"
On mobile view (oc8) the text editor is placed in the auto-hide sliding menu on the left so its only viewable (and only the half of it) when you slide to the right.
![](http://imgur.com/rjgGgm3.jpg)
![](http://imgur.com/P1UTauY.jpg)

[2015-03-11 14:11] cdamken commented on #60
@MorrisJobke Yes, I understand the solution.

#### Thank you all

[2015-03-11 15:46] eephyne commented on #61
I changed
#content by #app-content
on https://github.com/owncloud/files_texteditor/blob/c05adc4411b9ee22ca1ccca1b33ebab9dcafe9dc/js/editor.js#L204

and it seem ok so far

[2015-03-20 23:22] oparoz opened #62 "No txt editor in "mobile mode""
Owncloud 8.0.2

### Steps
1. Make your browser window narrow until the sidebar disappears
2. Click on a txt file

### Expected
I should see an editor and should be able to edit text

### Actual
Everything below the navigation bar is blank
If you widen the browser, the editor shows up at some point.

[2015-04-04 20:11] dttpy opened #64 "mouse cursor does not suit the text"
### Steps to reproduce
1. create text file
2. edit text file, which must have more than 2 lines, and each line has more than 3 characters, the more, the better

### Expected behaviour
The mouse cursor suit the text file. If the user want to edit some words, just move the mouse cursor to the right place with mouse or keyboard, and edit.

### Actual behaviour
Move the mouse cursor to the end of a li

[2015-04-05 12:28] Xenopathic opened #65 "Text size hardcoded at 16px"
16px is way too big for easy editing of files. The default font size (aka removing the explicit font size setting) is around 12px, which is suitable for all text editing tasks and works better with smaller screens such as laptops.

[2015-04-07 09:11] deMattin commented on #65
:+1:
Additional argument to remove this:
Style related definitions (sizes, paddings, ...) should not be set in js code if it's not mandatory.
This all should be set in css files.

[2015-04-08 12:17] SergioBertolinSG opened #66 "Buttons appear in breadcrumbs after clicking in the file name"
### Steps to reproduce

1. Create a text file
2. Click in the name of the file

### Expected behaviour
Nothing happens (Just refresh perhaps)

### Actual behaviour
![screen shot 2015-04-08 at 14 10 02](https://cloud.githubusercontent.com/assets/9048796/7045033/f94a8be0-ddf9-11e4-974b-ef261997b827.png)

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:**
Apache

**Datab

[2015-04-08 16:32] jvillafanez opened #67 "Files view unusable after trying to open a deleted file with the text editor from a federated cloud share"
### Steps to reproduce
1. Upload a text file and share it by link in server A
2. Add the link in server B
3. Delete the image file in server A
4. Click in the file in server B (which should still be visible)

### Expected behaviour
An error is thrown telling that the file is missing, probably deleting the file in server B since the file is no longer there

### Actual behaviour
Text editor fails, a

[2015-04-09 07:44] SergioBertolinSG commented on #66
cc @tomneedham

[2015-04-15 15:43] oparoz commented on #13
https://github.com/owncloud/core/issues/15652 implements a text preview of text files which are publicly shared.
This can always be improved later by loading the content inside the text editor in read-only mode so that it looks better(, as in formatted).

[2015-04-17 18:34] jnfrmarks opened #68 "files_texteditor app does not pass occ app:check-code"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ app:check-code

### Expected behaviour

The app passes the check

### Actual behaviour

The app fails the check:

[code]

### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 alpha 1 (daily) Build:2015-04-16T03:08:13+00:00 f50798a674bf223e1c8015b9a27287b2ac6c9f1a

[2015-04-29 14:48] PVince81 commented on #64
Please check if you have a monospace font installed, I believe the editor needs that to work properly.

[2015-04-29 20:21] dttpy commented on #64
tested again in detail:
This problem happens only with firefox, and only when the system language of owncloud is set as one of the asian language (chinese, japanese, korean). And if the system is using a western language like English, German, it works properly. Language setting is under "personal -- language"

[2015-05-07 07:20] SergioBertolinSG opened #70 "Unable to open .h files"
C header files are downloaded instead being opened.

[2015-05-11 13:01] SergioBertolinSG opened #71 "Files_texteditor gets frozen when a user tries to open a shared file as recipient which was deleted"
### Steps to reproduce

1. Create two users user1 and user2.
2. user1 shares a folder with files with user2.
3. Both users are logged in.
4. user1 deletes a file from the shared folder.
5. user2 opens the deleted file.

### Expected behaviour
Some message telling file was deleted.

### Actual behaviour
UI gets frozen.

### Server configuration
**Operating system**:
Ubuntu 14.04 LTS

**Web server:*

[2015-05-11 13:02] SergioBertolinSG commented on #71
https://github.com/owncloud/core/issues/16225
moved from core

[2015-05-11 19:52] michaelstingl commented on #58
@MorrisJobke What is the status here? Could the fix from @rzg-kaiser help to solve this problem? Do you need more information?

00003116

[2015-05-12 07:54] MorrisJobke commented on #58
@michaelstingl I will test the proposed PR soon :)

[2015-05-12 08:56] MorrisJobke commented on #58
@michaelstingl Looks good. Needs another reviewer and then we need to backport this too.

[2015-05-20 09:37] nickvergessen opened #75 "Editing a file, clicking on the name in the editor makes New button appear"
Reported by @davitol at https://github.com/owncloud/core/issues/16460

### Steps to reproduce
1. Log in owncloud
2. Edit a file
3. Click the file name up-lefted.

### Expected behaviour
The 'new button' appears

### Actual behaviour
The 'new button' should not appear. It only happens if you first do the steps just after log in.

### Server configuration
**Operating system**: ubuntu 14.04

**Web se

[2015-05-20 09:38] nickvergessen commented on #75
The problem is when clicking on the bread crumb and it is a folder we go to the folder.
but in case of the filename this fails

[2015-05-20 12:21] rperezb commented on #75
Duplicated of https://github.com/owncloud/files_texteditor/issues/66

[2015-05-20 12:21] #75 closed

[2015-05-21 10:58] PVince81 commented on #17
Related: https://github.com/owncloud/files_texteditor/issues/37

[2015-05-22 22:24] michaelstingl commented on #58
@MorrisJobke What is the status of the backport?

[2015-05-25 12:34] davitol opened #76 "Insufficient permisions error message is too wide"
### Steps to reproduce
1. Enable option Allow users on this server to send shares to other servers
2. Send a file to a user to another server with can edit option enabled
3. Edit the file in server B
4. Disable can edit option in server A
5. Try to save the file in server B

### Expected behaviour
The 'yellow box' should fit with error message.

### Actual behaviour
The 'yellow box' is too wide

#

[2015-05-27 07:31] MorrisJobke commented on #58
@michaelstingl Backport is in #77

[2015-05-27 08:11] michaelstingl commented on #58
@MorrisJobke Thank you very much!

[2015-05-27 08:11] #58 closed

[2015-06-05 14:40] DeepDiver1975 commented on #76
@davitol can you please test this without the theme? THX

[2015-06-05 14:59] #68 closed

[2015-06-05 15:02] DeepDiver1975 commented on #65
@Xenopathic @deMattin pull requests are welcome - Thanks a lot!

[2015-06-05 15:05] DeepDiver1975 commented on #52
fixed for me

[2015-06-05 15:05] #52 closed

[2015-06-05 18:08] #70 closed

[2015-06-05 18:08] #45 closed

[2015-06-09 08:23] davitol opened #80 "Text files do not save"
### Steps to reproduce
1. Create a new .txt file
2. Edit it.
3. Try to save it

### Expected behaviour
The file changes should be saved

### Actual behaviour
The file does not save and the 'save button' keeps on saving status. Same behaviour in EE version.

### Server configuration
**Operating system**: ubuntu 14.04

**Web server:** apache 2.4.7

**Database:** mysql

**PHP version:** 5.5.9

**ownC

[2015-06-09 08:28] davitol commented on #80
500 Internal Server Error happens

owncloud.log -->

{"reqId":"D4058YGEf7peBr+xpnt4","remoteAddr":"82.159.139.58","app":"PHP","message":"Call to undefined function OC_L10N() at \/opt\/owncloud\/apps\/files_texteditor\/ajax\/savefile.php#31","level":3,"time":"2015-06-09T08:15:26+00:00"}

[2015-06-09 12:15] jnfrmarks commented on #80
@DeepDiver1975

[2015-06-09 13:07] DeepDiver1975 commented on #80
@davitol while fixing another issue this should already be solved as well - please test #79 - THX

[2015-06-10 07:45] davitol commented on #80
:+1: fixed with https://github.com/owncloud/files_texteditor/pull/79

[2015-06-10 09:08] schiesbn commented on #80
fix merged, will be released woth oC8.1

[2015-06-10 09:08] #80 closed

[2015-06-10 10:42] davitol commented on #76
@DeepDiver1975 same behaviour without the theme. The 'yellow box' is too wide

[2015-06-17 14:46] SergioBertolinSG opened #81 "Editing a file without permissions using WND doesn't show a warning."
### Steps to reproduce
1. Mount a WND folder and be sure it will only have read only permissions.
2. Put some text files inside the mount folder in the origin operating system.
3. Edit one of those files using owncloud.
### Expected behaviour

A warning appears telling you that you don't have permissions to do that.
### Actual behaviour

you can't edit the file, but the save file feels like it was

[2015-06-23 18:04] Hausmarke opened #83 "Text Editor does not work when opening a textfile in "Favorites" folder"
Is is a bug or is it a feature that when i try to open a textfile in the "Favorites" folder the editor will not be used - instead of that the textfile will be downloaded

Steps:
*make a new textfile somewhere in OC
*mark it as a "Favorite" file
*go to the "Favorites" folder in the root
*klick on the textfile should open the texteditor, instead of that the download dialogue pops up

Tryed it on lat

[2015-06-30 16:35] oparoz commented on #50
If you don't need IE9 compatibility, this works well
[code]

[2015-06-30 22:37] DeepDiver1975 commented on #50
@oparoz mind sending a pr? Thanks a lot!

[2015-07-01 10:01] oparoz commented on #50
Not sure as this requires knowledge of the way the app works, creation of new steps in history and new calls for the close button. Usually, the browser's back button goes back one step in its history, but some apps don't add a new step and simply modify the current URL in order to not be inserted in history...

I'll gladly help the maintainer though.

[2015-07-22 00:02] szepeviktor opened #90 "UI defect"
There is no file opening progress indicator.
In case of a slow backend it could take 10 seconds to open a file.

Please consider adding an indicator that is consistent with ownCloud's UI.
Thank you!

[2015-07-22 00:23] szepeviktor commented on #90
For example `core/img/loading.gif`.

[2015-07-27 08:11] MorrisJobke opened #93 "Text editor can't handle locked exception files"
Use the steps from https://github.com/owncloud/core/issues/16569#issue-81024330 while having locking enabled and you will get an empty dialog prompt when try to open the locked file.

cc @DeepDiver1975 @PVince81 @icewind1991

[2015-07-27 08:15] MorrisJobke commented on #93
Fix is in https://github.com/owncloud/core/pull/17811

[2015-07-28 07:46] #61 closed

[2015-08-27 10:12] prismopensource opened #95 "Text editor save functionality broken"
## Steps to reproduce

As described in this forum topic: https://forum.owncloud.org/viewtopic.php?f=31&t=30052&p=95075#p95075
1. Download OC 8.1.1
2. Do the one click sqlite install.
3. Create a new empty text file, for example New text file.txt
4. Open this New text file.txt
5. Add some text with the Text Editor.
6. Click the Save button
## Expected behaviour

After hitting the save button you'd

[2015-08-28 18:56] tomneedham opened #98 "Investigate moving to the WebDAV API for loading and saving the files"

[2015-08-31 09:25] SergioBertolinSG opened #100 "Text files cannot be saved."
### Steps to reproduce

Having two users:

1. Share a folder from user1 with user2 including textfiles making user2 having edit permissions.
2. Edit with user2 one of those textfiles.

### Expected behaviour
user2 edits the file.

### Actual behaviour
A warning appears.

Translated: File modification time wasn't provided (mtime)
![screen shot 2015-08-31 at 11 12 37](https://cloud.githubusercontent

[2015-08-31 15:57] davitol opened #102 "Editing a fed shared file and exiting the file without saving changes, can produce a blank page"
### Steps to reproduce

1. Create a file.txt
2. Share this file with a user of another server
3. Edit this file in server A
4. Edit this file in server B
5. Exit the file without saving the changes (SB)
6. Exit the file without saving the changes (SA)
7. Click on the button There were unsaved changes, click here to go back.

### Expected behaviour

The file should be enabled to edit

### Actual be

[2015-09-01 11:55] tomneedham commented on #90
This is fixed in the new version https://github.com/owncloud/files_texteditor/pull/78 thanks

[2015-09-01 11:55] #90 closed

[2015-09-01 11:56] tomneedham commented on #61
This is fixed with https://github.com/owncloud/files_texteditor/pull/78

[2015-09-01 11:59] tomneedham commented on #62
Fixed with version 2 https://github.com/owncloud/files_texteditor/pull/78

[2015-09-01 11:59] #62 closed

[2015-09-01 14:11] tomneedham commented on #49
Version 2 stores the old title. https://github.com/owncloud/files_texteditor/pull/78

[2015-09-01 14:11] #49 closed

[2015-09-01 14:14] tomneedham commented on #50
Fixed with version 2 https://github.com/owncloud/files_texteditor/pull/78 thanks @oparoz

[2015-09-01 14:14] #50 closed

[2015-09-01 14:19] tomneedham commented on #64
Please report these issues upstream. This app simple implements the Ace editor. https://github.com/ajaxorg/ace/issues

[2015-09-01 14:19] #64 closed

[2015-09-02 23:31] jancborchardt opened #103 "Clicking outside of the texteditor should also close it"
And of course save the content, just like when pressing the x on the top right. @tomneedham @owncloud/designers

[2015-09-04 08:12] SergioBertolinSG opened #105 ".json files are not opened but downloaded."
The current icon detects it like code but you can't open it with the text editor.

[2015-09-06 16:28] Yamakasi opened #106 "Text-editor does not shows changements in Webdav Saved File"
When I open a odt file from webdav and I save it this happens:

/index.php/apps/files/ajax/download.php?dir=%2FDocuments&files=Example.odt has the updated version (this is the file explorer and also show versioning from the explorer)

/index.php/apps/documents/#15 has the base content from the first start of the file. (this is the fileEditor)

It seems that the fileeditor does not index right ?

[2015-09-06 17:51] RealRancor commented on #106
Seems to me as a duplicate of https://github.com/owncloud/documents/issues/447

[2015-09-06 20:26] #106 closed

[2015-09-09 08:01] SergioBertolinSG opened #107 "New version of files_texteditor freezes IE8"
### Steps to reproduce
Using internet explorer 8 open a textfile.

### Expected behaviour
File is opened.

### Actual behaviour
Browser gets frozen.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

**ownCloud version:** (see ownCloud admin page)
{"installed":true,"maintenance":false,"version":"8.2.0.4","versionstring

[2015-09-10 20:28] Xenopathic commented on #65
Fixed in #78

[2015-09-10 20:28] #65 closed

[2015-09-16 08:28] nitharsan opened #108 "delete"
delete

[2015-09-17 09:41] awikatchikaen opened #109 "add XSLT to editable files"
They are just text files.

Thank you

[2015-09-19 10:51] nitharsan commented on #109
This can be done in lib/private/mimetypes.list.php
https://forum.owncloud.org/viewtopic.php?t=18800

[2015-09-21 11:09] SergioBertolinSG opened #110 "Several code files are not considered code."
They have a text icon instead the new code icon.

![screen shot 2015-09-21 at 13 08 26](https://cloud.githubusercontent.com/assets/9048796/9990469/e32a1516-6061-11e5-93e9-e8ccdc81b11c.png)

@jancborchardt

[2015-09-21 16:09] jancborchardt commented on #110
@schiesbn can you fix that? Not sure what the mimetype is.

@SergioBertolinSG any other filetype mappings missing? Please list them here if there are any.

[2015-09-22 07:13] SergioBertolinSG commented on #110
.xml and .tex have the same problem.

![screen shot 2015-09-22 at 08 56 11](https://cloud.githubusercontent.com/assets/9048796/10012388/deb0595e-6107-11e5-8d06-2b0a661a1a43.png)

.abap .ads .agi .algol .e .apl .scpt .arc. ArnoldC .as .au3 .awk .bas .bat .befunge .bg .boo .bf .ceylon .clj .cbl .coffee .cfml .lisp .context .cs .csh .d **.dart** .pas .djs .ecl .e .ex .lisp .erl .fal .f .fy .fan .fimp

[2015-09-22 10:45] PVince81 opened #111 "Reload file list when closing editor"
### Steps

1. Open text file
1. Edit it
1. Close editr

### Expected result
File list reloads, preview icon appears / gets updated

### Actual result
File list doesn't reload, outdated/missing preview

@tomneedham

Please trigger `fileList.reload()` for now.
Hopefully one day this will be wrapped by a proper API: https://github.com/owncloud/core/issues/13414

[2015-09-22 10:46] PVince81 commented on #111
By the way, this is a regression from pre-2.0

[2015-09-22 11:21] SergioBertolinSG commented on #110
Perhaps this is not the correct repo, I am moving this to core.

[2015-09-22 11:28] SergioBertolinSG commented on #110
Opened in core: https://github.com/owncloud/core/issues/19254

[2015-09-22 11:28] #110 closed

[2015-09-22 12:51] tomneedham commented on #111
This was removed intentionally following discussion with @jancborchardt. The reload was ugly for the user experience and actually the regenerated review was not hugely useful for text files. If we want this back badly we should look at handling the reload in a nicer way (no temporary blank files list)

[2015-09-22 13:01] jancborchardt commented on #111
Yeah, the reload is a hugely annoying experience. It’s much more important to have that smooth than to fix the preview icon.

[2015-09-22 13:01] jancborchardt commented on #111
(If that is an either-or situation and we can’t have it both.)

[2015-09-22 13:03] PVince81 commented on #111
@tomneedham you can try this: https://github.com/owncloud/core/blob/master/apps/files_versions/js/versionstabview.js#L96

You can get the file model from the context: `context.fileInfoModel` (it's a backbone model, the file list listens for attribute changes, so changing them will rerender the row)

[2015-09-22 13:03] PVince81 commented on #111
the context being the one from the file action handler

[2015-09-22 17:51] cnolin-quatral commented on #62
@tomneedham
I have the same issue, do you have any idea on how I could fix this on my installation?
It would be awesome if I can fix before the release of files_texteditor version 2.

[2015-09-22 21:24] cmonteroluque commented on #93
@rperezb QA to check so we can close?

[2015-09-23 08:03] davitol commented on #107
Same behaviour in IE9

[2015-09-23 16:50] rperezb commented on #93
@davitol can you please take care of this one and a smoke test of the test editor on 8.2
thx

[2015-09-24 10:40] davitol opened #114 "An error should be shown trying to open a renamed file in another browser tab without refreshing"
### Steps to reproduce
1. Open two browser tab with the same server
2. Tab1: Create a file
3. Tab2: Refresh the browser (new file created in step two appears)
4. Tab1: Rename the file
5. Tab2: Without refreshing, try to open the file.

### Expected behaviour
An error should be shown

### Actual behaviour
The text editor gets blank and spinning.

### Server configuration
**Operating system**:
Ubunt

[2015-09-24 10:58] davitol commented on #93
It works in oc server 8.2. beta 1. Using the steps set in owncloud/core#16569 (comment), the exception occurs. :+1:
but I don't know if this regression bug https://github.com/owncloud/files_texteditor/issues/114 is due to the fix

[2015-09-24 12:45] MorrisJobke commented on #93
Okay. Then we can close this.

[2015-09-24 12:45] #93 closed

[2015-09-25 08:32] nickvergessen commented on #100
This was fixed by https://github.com/owncloud/core/pull/18691

The problem was php 5.5 and lower could not read the request body more then once.
It works fine for me since the merge of that PR.

@SergioBertolinSG can you retest, confirm and in case it works for your as well close this issue?
Thanks

[2015-09-25 09:09] SergioBertolinSG commented on #100
Tested with stable8.1 in cent os with php5.4. Working fine.

[2015-09-25 09:09] #100 closed

[2015-09-25 09:10] SergioBertolinSG commented on #100
Also fixed in master using the new files editor.

[2015-09-25 09:31] nickvergessen commented on #71
Still happening

Also when the file is deleted while it is being edited, it afterwards fails to save. Should it recreate the file?

[2015-09-28 16:32] icewind1991 commented on #71
Can be reproduced without sharing, just delete the file in a different tab

[2015-09-28 16:32] PVince81 commented on #111
Fix is here: https://github.com/owncloud/files_texteditor/pull/115
However it's missing the size

[2015-09-28 16:45] icewind1991 commented on #71
Fix is here: #117

[2015-09-29 08:52] schiesbn opened #118 "Don't break common browser shortcuts"
I just discovered that Ctrl+t doesn't open a new browser tab if I have the text editor open. Instead it mixes up the words in my document. I think that's a really bad behavior. People are used to hit Ctrl+t in their browser to open a new tab and they will do so without thinking about it, not even for a millisecond. I consider it a bad user experience if this will result in mixing up the words inst

[2015-09-29 09:49] LukasReschke commented on #118
:+1:

[2015-09-29 11:04] MorrisJobke commented on #118
Fix is in #119

[2015-09-29 11:15] #118 closed

[2015-09-30 13:01] #71 closed

[2015-09-30 13:05] DeepDiver1975 commented on #114
fixed with #117

[2015-09-30 13:05] #114 closed

[2015-09-30 13:08] #111 closed

[2015-10-02 16:11] PVince81 commented on #17
Already works in the 8.2 version / text editor 2.0

[2015-10-02 16:11] #17 closed

[2015-10-02 16:13] PVince81 opened #121 "Cannot save if editing while saving"
### Steps

1. Open the text editor
1. Type in something
1. Hit "ctrl+s" to save (by the way, where is my Save button?)
1. While it's still saving, type in something, then stop before it finishes the previous save
1. Hit "ctrl+s" again

### Expected result
The star should stay after it finishes saving, since we added stuff during save.

### Actual result
The star disappears and Ctrl+S doesn't save.

[2015-10-02 16:25] PVince81 commented on #107
It's because Internet Explorer is cold :snowflake:

[2015-10-02 16:26] PVince81 opened #122 "Bring back the "Save" button"
I miss it when testing version creation.

[2015-10-07 09:56] michaelstingl commented on #50
I can confirm: Closing text editor with browser back button keeps user in the current directory. Thanks!

[2015-10-09 15:49] schiesbn opened #126 "Error not displayed correctly"
If a exception occurs while loading a file we don't display a error message, instead we see a spinner forever. The texteditor in oC8.1 showed a popup with a error message.

Internally the error handling is the same, compare
https://github.com/owncloud/files_texteditor/blob/master/controller/filehandlingcontroller.php#L112
and
https://github.com/owncloud/files_texteditor/blob/stable8.1/controller/f

[2015-10-13 06:58] nickvergessen opened #128 "Increase version for 9.0"
Just a warning, when stable8.2 is branched off in core (most likely today), the app version should also be increased (first or second digit, to allow updates in stable8.2 later, in case it is needed).

Also the version file can be melted into the info.xml, e.g.:
[code]

[2015-10-14 08:31] tomneedham commented on #122
@jancborchardt How should we handle this? Right now it autosaves after 3 seconds of inactivity, and the keyboard shortcuts still trigger a manual save.

[2015-10-14 11:15] tomneedham commented on #107
@SergioBertolinSG How did you install OC? From the daily builds? I've just done a clean instal from git master, same OS, IE8.0.6001 and it functions correctly so need to try and reproduce your setup.

[2015-10-14 20:40] jancborchardt commented on #122
@PVince81 Ctrl+S or just wait for the autosave. The target audience for the text editor are not developers trying to test ownCloud. ;)

[2015-10-14 20:40] #122 closed

[2015-10-20 14:34] SergioBertolinSG commented on #107
Retested in a dfiferent environment (previous is windows server 2008).
Currently on windows 10 with emulations of several ie versions, ie9 and later works there. But ie8 keeps the spinner spinning when trying to open the file and the server is blocked waiting for the spinner to finish.

[2015-10-21 14:29] Jaimy85 opened #131 "Text editor: 'File: modified since opening', can't save on some external storages"
When trying to save a modified text file on external storages I get a warning like 'Problem saving changes, click to continue editing'.
This does not happen with a S3 external storage, only with Hubic app https://apps.owncloud.com/content/show.php?content=168188 and Openstack object storage.
"File: x modified since opening" is from the log.

[2015-10-22 21:10] jancborchardt opened #132 "Close when clicking outside of editor"
When testdriving the new ownCloud version it was a bit confusing that clicking outside of the editor doesn’t close it. Because it’s a partial overlay, it really seems like that would work. Currently you can even click the menus in the header but they will be overlapped.

When clicking outside of the editor, the same thing should happen as when you click the close button: Close the editor and fire

[2015-10-23 18:11] butonic opened #133 "after closing the editor the filelist should reflect the new filesize"
### Steps to reproduce
1. Create a new file `foo.txt` (size is 0 at this point)
2. Edit it with the text editor an add a few characters
3. wait for save
4. close editor

### Expected behaviour
In the filelist `foo.txt` has a size > 0

### Actual behaviour
In the filelist `foo.txt` has size 0

### Server configuration
**ownCloud version:** (see ownCloud admin page)
8.2.0

[2015-10-23 18:11] butonic commented on #133
marked as regression because that used to work

[2015-10-23 18:13] butonic commented on #133
ref https://github.com/owncloud/apps/issues/1404

[2015-10-26 14:18] #133 closed

[2015-10-26 22:49] Jaimy85 commented on #131
What is really strange is the following, I changed the following line for debugging:
"Cannot save file as it has been modified since opening $mtime $filemtime"
Cannot save file as it has been modified since opening 1445896391 1445896391
The mtimes are the same! How is this possible with this function?
if($mtime !== $filemtime) {

[2015-10-28 10:41] tomneedham commented on #81
@SergioBertolinSG can you please retest this with the new editor. I believe it is fixed now.

[2015-10-28 16:13] SergioBertolinSG commented on #81
Retested with daily master.  The bug is still there with the new editor.

[2015-10-28 16:14] tomneedham commented on #81
@SergioBertolinSG Can you clarify what you mean by this?

[2015-10-28 16:15] SergioBertolinSG commented on #81
You opens the file, edit it and save it. The editor says the file was saved correctly.
But it wasn't, because you don't have permissions.

[2015-10-28 16:19] tomneedham commented on #81
Hmm if write permissions are not available the editor wont actually let you edit the file. I've verified this by sharing a file with a user and deselecting edit permissions, logging in as the target user and trying to open the file. The editor loads but you can't change anything.

https://github.com/owncloud/files_texteditor/blob/master/controller/filehandlingcontroller.php#L86 @icewind1991 Ideas

[2015-10-28 16:50] SergioBertolinSG commented on #81
cc @jmaciasportela @jvillafanez

[2015-10-28 17:22] jvillafanez commented on #81
I'm going to quote myself from another issue:

According to http://superuser.com/questions/106181/equivalent-of-chmod-to-change-file-permissions-in-windows you can use the "attrib" command (in windows) to modify the read-only attribute as desired

[code]
You can check more info [here](http://www.howtogeek.com/205910/how-to-change-file-attributes-with-attrib-from-the-windows-command-prompt/)

So yo

[2015-11-04 10:46] tomneedham commented on #81
@jvillafanez @SergioBertolinSG Who can take care of this?

[2015-11-04 11:29] tomneedham commented on #126
@schiesbn Am I right in thinking this is fixed now? Can't remember the conclusion of the discussion in the other ticket https://github.com/owncloud/files_texteditor/pull/125/files and https://github.com/owncloud/files_texteditor/pull/97

[2015-11-04 11:59] schiesbn commented on #126
no it is not fixed. The pull request you mention make sure that the correct error message is returned from the server but the new text editor doesn't show the error message, instead you see a spinner forever. The old texteditor showed the error in a pop-up dialog. I assume that the client side (javascript) handling of the failure get lost during the switch to the the new way the text editor is dis

[2015-11-04 11:59] tomneedham commented on #126
Ok I'll take a look

[2015-11-04 17:30] #121 closed

[2015-11-11 11:15] tomneedham commented on #103
Duplicate of https://github.com/owncloud/files_texteditor/issues/132

[2015-11-11 11:15] #103 closed

[2015-11-11 11:15] tomneedham commented on #37
Implemented in the v2 editor

[2015-11-11 11:15] #37 closed

[2015-11-11 11:16] tomneedham commented on #10
No longer displays the breadcrumb in the latest version.

[2015-11-11 11:16] #10 closed

[2015-11-11 11:26] #2 closed

[2015-11-11 11:28] tomneedham commented on #48
Fixed this in the v2 using file views and no longer playing ball games with the breadcrumb

[2015-11-11 11:28] #48 closed

[2015-11-11 11:36] tomneedham commented on #76
The new editor no longer uses the default notification style.

[2015-11-11 11:36] #76 closed

[2015-11-11 13:32] tomneedham opened #139 "Closing the editor increments the file counter in the files list"
### Steps to reproduce
1. Open a text file
2. Add some content and close it

### Expected behaviour
File counter remains the same

### Actual behaviour
File counter at the bottom of the files list increments

Using pre-9.0 master and text editor master

[2015-11-11 13:41] tomneedham commented on #139
Offending line https://github.com/owncloud/files_texteditor/blob/master/js/editor.js#L536

[2015-11-11 14:49] jancborchardt commented on #103
@tomneedham THAT’S how much I want it. ;)

[2015-11-11 17:11] #15 closed

[2015-11-11 17:11] #46 closed

[2015-11-12 09:57] jancborchardt opened #141 "Nicer style for plain text files, non-code (txt, md, …)"
Since txt files are used for Notes a lot, we should style them accordingly. Currently they are all styled like pieces of code. Since ownCloud is not really a tool to edit code, the priority should be on a great reading and writing experience of normal files. Something like bigger typeface, higher line-height, not using monospace, removing line numbers, etc.

@tomneedham is it possible to style the

[2015-11-12 09:59] jancborchardt commented on #128
@nickvergessen @tomneedham is this solved? Btw @nickvergessen if you find stuff like this you can just sent a PR. ;)

[2015-11-12 11:10] tomneedham commented on #141
Theming is done here: https://github.com/owncloud/files_texteditor/blob/master/js/editor.js#L394 and can certainly be adjusted to cater for different file formats. There are a bunch of themes available with ACE (https://ace.c9.io/build/kitchen-sink.html) or we can take some and work with them ourselves. Would take a bit of work since we've already hacked away at the existing theme so we'd need to

[2015-11-12 12:25] nickvergessen commented on #128
Sorry, wasn't interested to do 30 PRs yet again, since I did that for all apps...
---

No, still not addressed.

[2015-11-12 13:08] henningbaer opened #142 "On Owncloud 8.2 I can only open txt files no other extensions"
Without tampering, fresh install of Owncloud I can't open .texfiles for example, or any other file that is listed in the extensions handler. This happens with the shipped texteditor and with the master one from here.

[2015-11-12 14:26] henningbaer commented on #142
never mind, I reall fucked up my mimetypes unknowingly. sorry for opening an issue!

[2015-11-12 14:26] #142 closed

[2015-11-12 17:01] DavidPrevot opened #143 "js/aceeditor/worker-javascript.js is non free"
As per https://github.com/owncloud/apps/issues/867, the `js/aceeditor/worker-*` files are not used by ownCloud, and `js/aceeditor/worker-javascript.js` is non free. Even if the license comments have been stripped away upstream, the code is still the same and part of it contain the terrible “The Software shall be used for Good, not Evil” clause.

https://github.com/ajaxorg/ace/blob/master/lib/ace/m

[2015-11-18 11:54] tomneedham commented on #143
@DavidPrevot Please see the fix here: https://github.com/owncloud/files_texteditor/pull/144

[2015-11-18 12:13] #143 closed

[2015-11-18 15:50] PVince81 commented on #107
With the lastest text editor master, also doesn't load in IE8

[2015-11-19 09:40] PVince81 opened #147 "Add "Text file" to "+" menu, remove from core"
Currently, the "+" menu in core already contains the action "Text file".
However, creating a text file from the GUI doesn't make much sense if there is no text editor, because then it only means creating empty text files.

I suggest that we do the following:
1) Remove "Text file" from the menu in core https://github.com/owncloud/core/blob/v8.2.0/apps/files/js/newfilemenu.js#L201
2) Make the text e

[2015-11-19 09:46] nickvergessen commented on #147
Sounds like a neat idea. Hopefully the markdown plugin will make use of that as well :no_mouth:

[2015-11-19 09:55] tomneedham commented on #147
I like this a lot :)

[2015-11-19 13:25] PVince81 commented on #147
I believe the markdown app requires the text editor app to be enabled, so shouldn't be an issue

[2015-11-19 15:58] #147 closed

[2015-11-24 12:32] jancborchardt commented on #147
Yeah, good call! Creating a new folder should be second in the list anyway (after Upload). :)

[2015-11-25 14:30] #128 closed

[2015-11-25 15:01] #132 closed

[2015-11-25 15:40] PVince81 commented on #139
It's a bug in `updateRow()` in core: https://github.com/owncloud/core/issues/19709

[2015-11-25 15:40] #139 closed

[2015-11-28 05:07] capnjb opened #150 "Text Editor 2.0 saving errors - ownCloud 8.2.1 upgrade from 8.1.4"
As usual there are a few bumps in the road in the upgrade process. This last one was no exception although it was a little smoother than in the past. I had two quirks, the other is for a different forum... The one noted in the subject line is a little strange. I use this app a lot for note taking and the previous versions have worked perfectly as expected.

In the upgrade process I upgraded the Te

[2015-11-30 13:29] capnjb commented on #131
I have a similar problem.  Were you able to patch the bug?
see:  Text Editor 2.0 saving errors - ownCloud 8.2.1 upgrade from 8.1.4 #150

[2015-12-03 17:05] PVince81 commented on #126
@tomneedham can you have a look ? Does it still happen in 8.2.1 ?

[2015-12-04 12:00] tomneedham commented on #126
8.2.1 I get this:
<img width="412" alt="screen shot 2015-12-04 at 11 59 32" src="https://cloud.githubusercontent.com/assets/660805/11589209/8a34e646-9a7e-11e5-8a53-8059f89c73e9.png"> if I throw an exception in the load file controller.

[2015-12-04 12:02] tomneedham commented on #126
As handled here: https://github.com/owncloud/files_texteditor/blob/stable8.2/js/editor.js#L320.

[2015-12-04 12:04] tomneedham commented on #126
@schiesbn ?

[2015-12-05 19:01] johndevs opened #152 "Text file does not open in editor when using Favourites"
I have marked a text file as a favourite.

When I click the file under "All Files" the file opens in the text editor but when I open the file under Favourites the file is downloaded. I would expect the behaviour to be same under Favourites as it is under Files.

[2015-12-07 10:24] nickvergessen commented on #126
Would be nice to not kill the actual message, if one is returned?

[2015-12-07 10:26] nickvergessen commented on #126
I see you already check for OC\HintException manually.

Storages also throw some known ones (locked, storage-not-available, forbidden (firewall)), identifying them with a correct message would be very nice

[2015-12-09 09:27] tomneedham commented on #152
Please could you use the issue template so we have some idea of your environment: https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2015-12-09 09:28] tomneedham commented on #150
Can you explain your external file storage setup please?

[2015-12-10 10:15] davitol opened #155 "[Files_external] Using a SFTP mountpoint without edit permission in some files, files_texteditor can make 'fake saves'"
### Steps to reproduce

1. Configure a files_external mount point SFTP with a backend user WITHOUT 'can edit' permission in some files
2. Go to the files view and browse into the mountpoint

### Expected behaviour

The files without permissions cannot be edited

### Actual behaviour

The files seems to be edited, even 'Saved' message is shown, but checking for the changes they are not saved (right

[2015-12-10 14:26] #126 closed

[2015-12-11 18:42] quassum commented on #150
Maybe related to:

https://github.com/owncloud/files_texteditor/issues/95

[2015-12-11 18:44] quassum commented on #95
Bug is still present in 8.2.1 .htaccess file with workaround posted above was overwritten.

[2015-12-18 03:36] VamPikmin commented on #150
I'm having the same issue
Ubuntu 14.04.3 LTS
Owncloud version 8.2.1
Text Editor 2.0

External SMB Storage affected only, files residing on the server save fine

[2015-12-18 11:42] tomneedham commented on #155
Thanks @davitol. Could you see what the value of 'writeable' is in the load ajax response when you first load the file. If this is false then the editor shouldnt be allowing saves in the UI but perhaps it's not getting that information through.
https://github.com/owncloud/files_texteditor/blob/master/controller/filehandlingcontroller.php#L89

[2015-12-18 11:47] tomneedham commented on #107
I've been using XP with IE8 installed and still have yet to reproduce this. Perhaps one of you two can checkout console? Does the official ace kitchen sink work for you: https://ace.c9.io/build/kitchen-sink.html and we could look at upgrading the ace version if its perhaps that which needs fixing

[2015-12-18 11:48] tomneedham commented on #141
@jancborchardt How about I apply a class to the editor container like file-type-md or file-type-txt (the file extension, or mime type?) and then you can write some custom css rules for each type.

[2015-12-28 13:48] jancborchardt commented on #141
I’d say it would suffice to have the distinction between `text-plain` (for txt, md etc) and `text-code` for the code formats. Then for text-plain, we can already do a few small things:
- don’t load the code highlighter for better performance
- use the standard sans serif font instead of monospace
- don’t show the line numbers
- … then after that we can do further styling

[2015-12-28 13:49] jancborchardt commented on #141
Also cc @Henni @owncloud/designers since for Markdown files, we should probably also use the markdown inline style as in the Notes app. At least if the Notes app is installed.

[2015-12-30 10:26] tomneedham commented on #155
@davitol Trying to dig into this, can you explain your external storage setup in a bit more detail so I can replicate it? Is it system or user level mount?

[2015-12-30 10:32] tomneedham commented on #155
Ah reproduced it I think. I have a user level mount to a folder where the sftp user does not have write permissions to all of the files yet the editors `load file` route returns 'writeable' as true, hence it lets the editor edit files. Still digging

[2015-12-30 10:34] tomneedham commented on #155
So the issue is with the file view returning isUpdatable as true herehttps://github.com/owncloud/files_texteditor/blob/master/controller/filehandlingcontroller.php#L89

[2015-12-30 11:18] tomneedham commented on #155
Soo I believe this is because the SFTP backend does not specifically implement isUpdatable() which the editor uses to determine if we can write to a file, so instead, the filesystem default to just checking if the file exists as assuming it is writeable if it exists.

SFTP Backend: https://github.com/owncloud/core/blob/master/apps/files_external/lib/sftp.php
And the default/common storage it exten

[2015-12-30 11:21] tomneedham commented on #150
@capnjb Hey can you explain your external storage setup for me? Want to dig into this and get it sorted for you :) We have some other hiccups with external storages (https://github.com/owncloud/files_texteditor/issues/155) but they don't sound directly related.

[2015-12-30 11:23] tomneedham commented on #150
@VamPikmin What is written in your own cloud log file? It should give us some hints on where it is going wrong after the first successful save. Same with @capnjb

[2015-12-30 11:58] tomneedham commented on #95
@quassum So there is nothing in the owncloud.log and you are still seeing the JS console errors? From the snippet you posted it does seem like this is a request being blocked by your web server and not actually reaching ownCloud.

The problem was in php <5.6 and was fixed in 8.1.3 and should be in 8.2 with https://github.com/owncloud/core/pull/18691

Please could you retest with 8.2.1 and check wh

[2015-12-31 12:32] VamPikmin commented on #150
Is this enough?
There's so much going on there

{"reqId":"5oP4r+qHwbteaeEpW\/Ma","remoteAddr":"10.131.175.198","app":"files_texteditor","message":"File: \/server\/test.txt modified since opening.","level":3,"time":"2015-12-31T12:25:44+00:00","method":"PUT","url":"\/index.php\/apps\/files_texteditor\/ajax\/savefile"}
{"reqId":"Ox4EuABuU8EVsQt9wCnZ","remoteAddr":"10.131.175.198","app":"files_textedi

[2015-12-31 18:50] capnjb commented on #150
@tomneedham
Thank you for taking interest in this problem.  The two past upgrades
impacted SMB shares in my application.  Prior to that last 2 major
upgrades all worked as expected.  Perhaps they are both related so I
will try to explain.
* I use ownCloud for its calendar and as web gateway to selected shares
on other devices on my networks (home & work).  I have two systems a
CentOS6.5 system at

[2015-12-31 19:10] capnjb commented on #150
@tomneedham This is an example creating and saving a Test of SMB Save.txt file.

{"reqId":"VoV496WUDBbg5kC@WVKt@gAAAAA","remoteAddr":"107.77.76.19","app":"caldav","message":"Exception: {\"Message\":\"HTTP\\\/1.1 401 No basic authentication headers were found\",\"Exception\":\"Sabre\\\\DAV\\\\Exception\\\\NotAuthenticated\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/html\\\/owncloud\\\/lib\\\/priv

[2015-12-31 19:11] capnjb commented on #150
Sorry did not mean to close...

[2015-12-31 19:13] tomneedham commented on #150
@VamPikmin Thanks. Crucial bit for me is the
```{"reqId":"Ox4EuABuU8EVsQt9wCnZ","remoteAddr":"10.131.175.198","app":"files_texteditor","message":"File: \/server\/test.txt modified since opening.","level":3,"time":"2015-12-31T12:26:22+00:00","method":"PUT","url":"\/index.php\/apps\/files_texteditor\/ajax\/savefile"}```

[2015-12-31 19:14] tomneedham commented on #150
Likewise, @capnjb you seem to have a similar issue:
```{"reqId":"VoV696WUDBbg5kC@WVKt-QAAAAA","remoteAddr":"192.168.10.254","app":"files_texteditor","message":"File: \/!Vacations\/Test of SMB Save.txt modified since opening.","level":3,"time":"2015-12-31T18:59:03+00:00","method":"PUT","url":"\/owncloud\/index.php\/apps\/files_texteditor\/ajax\/savefile"}```

[2015-12-31 19:15] tomneedham commented on #150
I shall dig into this new week, thanks for the additional info, happy new year!

[2015-12-31 19:27] capnjb commented on #150
@tomneedham  Thank you!  Happy New Year to you as well....

On 12/31/2015 14:15, Tom Needham wrote:

[2016-01-01 01:09] VamPikmin commented on #150
Thank you, Happy New Year guys

[2016-01-01 13:34] jancborchardt opened #156 "Esc key should work for exiting the text editor (and saving of course)"
Basically pressing the escape key on your keyboard should have the same result as pressing the x in the top right or in the free space around the editor: Close the editor and save the document.

@tomneedham

[2016-01-01 22:08] jancborchardt opened #157 "Check for background changes and update open file accordingly"
In Atom for example, changing the file with another editor (or when ownCloud syncs an update to it) makes the changes immediately reflect in the file you have open.

This is the best way to prevent any conflicts and also a very direct way to give feedback of change.

@tomneedham

[2016-01-02 12:50] quassum commented on #95
@tomneedham Still the same with 8.2.1 with PHP upgraded to 5.6.16. Nothing in owncloud.log, only the JSON parse errors. Please let me know if I need to do more testing.

[2016-01-07 07:58] SergioBertolinSG commented on #107
Closing this as we have ended support of IE8.

[2016-01-07 07:58] #107 closed

[2016-01-07 10:19] PVince81 commented on #155
@tomneedham can you make a ticket in core to implement `isUpdatable` properly for SFTP ?
I believe that `getPermissions()` already does a `stat()` so it might be possible to get the permission from there.

CC @Xenopathic

[2016-01-15 08:45] quassum commented on #95
Bug is still present in 8.2.2 unfortunately.

[2016-01-15 12:58] SergioBertolinSG opened #158 "Selecting some text clicking and dragging and release click outside texteditor's view, closes the editor."
### Steps to reproduce

1. Upload a text file full of text.
2. Open the file.
3. Select some lines dragging the mouse while clicking.
4. Release the click out of the editor.

### Expected behaviour
Text keeps selected and editor open.

### Actual behaviour
Editor gets closed and the user frustrated.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**

[2016-01-19 21:40] MrStickmanPro1 opened #159 "Opening json files"
Currently, the texteditor can only be used for the preconfigured/builtin filetypes.

I suggest adding a possibility to customize the editable mime types without having to edit the actual code of the text editor to make this process easier for users who are not familiar with programming.

[2016-01-19 23:48] MrStickmanPro1 opened #160 "Editor uses tabs instead of spaces for YAML files"
The texteditor uses tabs for yaml files when auto-indenting lines. Since yaml does only support spaces for indentation, this should be considered a bug.

[2016-01-20 00:01] MrStickmanPro1 commented on #160
EDIT: Editor does not use tabs but arrow keys navigation jumps over 4 spaces so it looked like tab characters are being used.

[2016-01-20 00:01] #160 closed

[2016-01-20 14:12] SergioBertolinSG opened #161 "Text files created in google drive folder with editor cannot be opened"
### Steps to reproduce

1. Enable external storage and mount a google drive folder.
2. Create a text file using editor inside the folder.
3. Save it.

### Expected behaviour
File can be opened.

### Actual behaviour
File is downloaded, it is not detected as text file.

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

[2016-01-20 14:19] tomneedham commented on #159
I guess the reasoning here is we want to avoid the possibility of a user opening a file in the editor that is not supported / wrong encoding or such and receiving some errors.

I feel that if a user _really_ needs to edit some crazy filetype that isn't already supported, they can just download the file or use the desktop client to sync changes. If this is a common request we can just add it to the

[2016-01-20 14:19] tomneedham commented on #159
@jancborchardt Thoughts?

[2016-01-20 14:23] tomneedham commented on #161
@SergioBertolinSG Could you report issues like this to the files_external repo?. The editor uses the ownCloud filesystem API to interact with files and this is most likely a bug in the backend implementation and just visible whilst using the editor. Thanks :)

[2016-01-20 14:23] #161 closed

[2016-01-20 14:44] jancborchardt commented on #159
@MrStickmanPro1 which filetypes is this about? We could just think about adding them to the main app. Especially cause this is the first request of this type it seems.

[2016-01-20 14:45] jancborchardt commented on #159
Adding this whole scaffolding ability to be able to define filetypes on your own is overkill for sure. Also, it would result in every single user still needing to do that on their own. So let’s just add these filetypes properly.

[2016-01-20 15:27] SergioBertolinSG commented on #161
@tomneedham OK, wasn't sure about where open it. New one here https://github.com/owncloud/core/issues/21813

[2016-01-20 16:46] SergioBertolinSG commented on #158
@tomneedham This one is annoying.

[2016-01-20 16:50] tomneedham commented on #158
Yeah tried to reproduce this afternoon. Which browser?

[2016-01-20 16:50] SergioBertolinSG commented on #158
I've seen it on Chrome.

[2016-01-20 18:01] tomneedham commented on #157
@PVince81 Can we ping the webdav endpoint for this file and get the (potentially updated) mtime, or do we need to switch to etags?

[2016-01-21 08:55] #158 closed

[2016-01-21 08:56] PVince81 commented on #157
@tomneedham you can do a PROPFIND and only query the etag property.

[2016-01-21 10:33] tomneedham commented on #157
Seems the best solution. Would involve changing the editor over to etags which should not be too difficult.

[2016-01-21 10:34] tomneedham commented on #157
@PVince81 Your call on the milestone for this one?

[2016-01-22 12:58] anehx opened #163 "Actionmenu link 'Edit' does not open editor"
### Steps to reproduce
1. Go to `/index.php/apps/files/`
2. Open the actionmenu on a .odt file
3. Click on 'Edit'

### Expected behaviour
Page transitions to `/index.php/apps/documents/index#{fileId}` and opens editor.

### Actual behaviour
Page transitions to `/index.php/apps/files/#{fileId}` and does not change any content.

### Server configuration
**Operating system**: Debian Jessie

**Web ser

[2016-01-26 15:41] #108 closed

[2016-01-27 14:47] rolandbu commented on #163
It works with the APP Version documents: 0.11.1

[2016-02-16 19:19] luckydonald commented on #13
From what I understand the current state is to display the first 1000 characters in a text div.

But now there is a [preview api in the text editor](https://github.com/owncloud/files_texteditor/blob/5419c95d207e4459161a7b91709b03f981878c92/README.md#preview-apps), right?
I think, the preview should be the preview on shared links as well.
I would consider that as the expected result.
That would als

[2016-02-16 23:39] oparoz commented on #13
Not from what I understand from that page. It's now possible to extend `text_editor` with more parser, but there is no API to return a parsed preview of a file

[2016-02-16 23:51] tomneedham commented on #13
Correct. To get public viewing of files working we need to patch the editor to use the default endpoints for returning a file.

[2016-02-17 04:04] luckydonald commented on #13
Not knowing the internals, *but* why do we need changes in the editor?
Would we not only need the download page call the plugin's parser as well?

[2016-02-17 22:26] tomneedham commented on #13
So right now the only way for 'preview' plugins on the public page to access files is for them to access the file in question using `context.fileList.getDownloadUrl(file, dir)` as Vincent mentioned above. Again many code examples have even been posted above. Pull requests are always welcomed, just right now I dont have the time to work on this.

[2016-02-24 16:10] cmonteroluque commented on #81
@rperezb ping

[2016-02-26 07:50] Dianafg76 commented on #81
I tested this issue, and it still reproducing
{"installed":true,"maintenance":false,"version":"9.0.0.12","versionstring":"9.0.0 beta 2","edition":"Enterprise"}

[2016-02-26 08:51] jvillafanez commented on #81
@jmaciasportela could you verify if there is any exception being thrown from the WND backend if the file can't be saved?

https://github.com/owncloud/windows_network_drive/commit/93ccf55d5cb656a2c75132970210fe6083c6dbb3 was throwing a `NotPermittedException` if the file couldn't be saved, but I'm not seeing it in newer code

[2016-02-26 10:09] jmaciasportela commented on #81
As @jvillafanez says, I changed the code to use streams and I didn't added code to throw exceptions in some case, but this is not the only problem in 8.1.

files_texteditor doesn't catch any exception in 8.1 version https://github.com/owncloud/files_texteditor/blob/stable8.1/controller/filehandlingcontroller.php#L140 but in master it does https://github.com/owncloud/files_texteditor/blob/master/co

[2016-02-27 12:23] gardiol opened #165 "backspace not working in txt file editor on Android web browser (any)"
The txt file editor on the web page, when used on Android, does not allow to delete any character. You can write, but not delete. The "note" app, for example, or the password app, they work just fine.

Steps to reproduce:
create new TXT file
try to edit it on Android trough web browser
try to delete characters with backspace key

Expected behaviour:
You can edit it and delete characters by hitting

[2016-02-29 09:01] PVince81 commented on #81
@jmaciasportela I don't think it's necessary to add exceptions. The text editor should be either using the JS-side permissions from the file list or use the storage's `isUpdatable` check on the file.
If it does that properly (CC @tomneedham) then maybe the WND storage isn't returning the correct permissions for such files ?

Is this related to that other bug in WND regarding detecting changed perm

[2016-02-29 09:45] jmaciasportela commented on #81
@PVince81 in this case, the mount point is in mode read-only from the beginning.

[code]
data-permissions = 11 is not correct I guest.

[2016-02-29 09:47] PVince81 commented on #81
Yeah, those permissions look incorrect.
I think they're read from `Storage::getPermissions`

[2016-02-29 10:18] tomneedham commented on #81
The editor does not use the permission from the file list - instead it checks `isUpdateable` https://github.com/owncloud/files_texteditor/blob/master/controller/filehandlingcontroller.php#L89

[2016-02-29 11:51] jvillafanez commented on #81
Permissions in WND aren't implemented very well. I don't think we should rely on permissions too much; if the file can't be saved due to any reason (in this particular case, the user doesn't have enough permissions to do so), an error should be shown

[2016-03-02 14:23] luckydonald opened #167 "Collaborative realtime editing for text files"
Just as proposed in https://github.com/owncloud/documents/issues/606
plain text files should offer a collaborative mode to. I think this should become a part of the normal text editor too.

Having this in `files_texteditor`, this would come with all the nice custom preview renderers, extending the possibilities greatly.

[2016-03-08 14:55] polrus commented on #150
the same problem here - opensuse 13.2 and OC 8.2.2

[2016-03-09 21:56] ownclouduser42 opened #169 "After upgrade to 9.0.0, "search" box is missing in text file editor"
### Steps to reproduce
1. Upgrade from any 8.x version to 9.0
2. Create a text file
3. Click the text file to open the text editor
4. Observe the missing "search" box to search within the text file.

### Expected behaviour
When opening a text file to edit from the web interface, there should be a search box to find within the contents, since ownCloud is deliberately breaking the in-browser search

[2016-03-09 21:57] ownclouduser42 commented on #169
Moved from owncloud/core at @LukasReschke's request.

[2016-03-10 18:29] wheiko commented on #169
same problem
after upgrade of OC 8.x to 9
editor/ Browser displays no search window, pressing CTRL-F

- Installation same as the first
- Ubuntu 14.04.04LTS
- mysql db
- without LDAP
- client Browser Firerfox 44.0 on Linux

[2016-03-18 09:35] SergioBertolinSG commented on #81
Still happening in stable9 looking forward to 9.0.1.
Include this to 9.0.1?

[2016-03-18 09:36] PVince81 commented on #81
9.0.2, it's not critical

[2016-03-21 09:32] Pisoko commented on #150
same problem here.. OC 8.2.2 Ubuntu LTS 14.04.

[2016-03-29 18:29] MrStickmanPro1 commented on #159
First of all, sorry for replying a bit late.

For now I only thought about json files. I'll comment in case I come across any other types that should be able to open in the text editor.

[2016-03-30 08:58] jancborchardt commented on #159
@tomneedham can you add the possiblity to open json files?

@MrStickmanPro1 yeah, let us know if there are other file types.

[2016-04-04 11:23] mmccarn opened #170 "Enabling files_texteditor disables integrity checks"
### Steps to reproduce:
- Install owncloud 9.0.0.19
- customize some files & images
- get a yellow warning box in 'files' and 'activity' when logged in as an admin saying
  `There were problems with the code integrity check. More information…`
- Admin screen shows an integrity check message:
  `Some files have not passed the integrity check. Further information on how to resolve this issue can be

[2016-04-04 11:39] mmccarn opened #171 "Enabling files_texteditor breaks favicon selection"
### Steps to reproduce
- Install owncloud 9.0.0.19
- enable the example theme in config/config.php
  `'theme' => 'example',`
- observe that apple-touch-icon-precomposed is served from the theme folder:

`<link rel="apple-touch-icon-precomposed" href="/themes/example/core/img/favicon-touch.png">`
- enable files_texteditor
### Expected result
- apple-touch-icon-precomposed should still be served fro

[2016-04-12 21:11] wheiko commented on #169
da problem persists
after updating of OC 9.00 to 9.01
editor/ Browser displays no search window, pressing CTRL-F

    Installation same as the first
    Ubuntu 14.04.04LTS
    mysql db
    client Browser Firerfox 45.0.1 on Linux

any ideas what I might do wrong?

[2016-05-05 22:03] VamPikmin commented on #150
This seems to be finally fixed, upgraded to OC9 and Tex Editor 2.1
Thank you

[2016-05-19 15:55] PVince81 opened #174 "Spinner doesn't disappear any more"
Open a file in the text editor on master.
After loading, the new fancy spinner doesn't disappear.

Maybe some CSS was supposed to hide it but the new CSS makes it stay ?

@skjnldsv can you help fixing this ?
Thanks.

@owncloud/designers

[2016-05-19 16:24] skjnldsv commented on #174
Eheh, you're late to the party @PVince81 :D
See #173

[2016-05-20 17:18] #174 closed

[2016-05-23 08:08] SergioBertolinSG opened #175 "Is not possible to create text files with the same name of a folder."
### Steps to reproduce:

Having the folder Documents in the root folder do:
1. Create a text file called Documents.
### Expected behaviour:

Text file is created and folder is still there.
### Actual behaviour

It shows an error saying that "Documents" already exist.
### Server configuration

**Operating system**:
Ubuntu 14.04

**Web server:**
Apache

**Database:**
MySQL

**PHP version:**
5.5.9

*

[2016-05-23 08:17] SergioBertolinSG opened #176 "Text editor doesn't update the error and shows the previous one."
### Steps to reproduce:

Having the folder Documents in the root folder do:
1. Create a text file "New text file.txt".
2. Try to create again the same file.
3. Erase the name, write a dot.
### Expected behaviour:

An error tooltip appears saying that "." is not an allowed name.
### Actual behaviour

An error tooltip appears saying that "New text file.txt" already exists.
![screen shot 2016-05-23 a

[2016-05-23 08:29] nasli commented on #175
Same behavior when:
1-try to upload a file "Documents"
2.Dialog to select keep new files or already existing files appears, select keep new one
3.Error uploading file. Upload failed. Could not find uploaded file.

[2016-05-23 11:07] PVince81 commented on #175
Is this a regression ?

[2016-05-23 11:08] PVince81 commented on #176
That's a bug in core where the logic about duplication is. It will probably happen also somehow with creating folders.

[2016-05-23 11:29] SergioBertolinSG commented on #175
No, even with old editor in stable8 it is happening also.

[2016-05-25 09:56] raptaml opened #177 "texteditor not recognizing C# files"
When I upload a .cs file to owncloud 9.02, it is not recognized by the editor and will be downloaded.
.java, for example, works fine.
Am I missing something?

[2016-05-26 16:28] davitol opened #178 "Preview thumbnail is not available creating a new text file"
### Steps to reproduce:

Having the folder Documents in the root folder do:
1. Create a text file "file.txt" and edit it writing some text
2. Save the file in order to go back to the files view

### Expected behaviour:

A thumbnail preview with the text written should be shown.

### Actual behaviour

The thumbnail preview is not shown.

### Server configuration
**Operating system**:
Ubuntu 14.04

[2016-05-26 16:32] davitol commented on #178
The issue can be only reproduce if i add to the config.php file the following configuration:

[code]

[2016-05-30 16:56] falconws commented on #46
Production Channel ownCloud 8.2.3 (stable) still have this issue.

[2016-06-01 10:28] PVince81 opened #179 "Prevent closing browser tab while saving"
1. Open text editor
2. Type in some text
3. Hit save
4. While saving, close the browser window

Expected: a popup appears (beforeunload style)
Actual: browser gets closed, sometimes file not saved

[2016-06-08 10:41] PVince81 commented on #178
Works for me on master. Note that you might need a certain minimum amount of characters for the preview to appear.

[2016-06-08 10:41] #178 closed

[2016-06-15 13:17] kralizeck commented on #169
Same problem after updated from 8.2.5 (search works) to 9.0.2.

does it works for anyone with OC 9?

[2016-06-17 07:41] scriptPilot opened #182 "Support for additional file types"
Hello, I have edited the editor.js file to add support for phpx (php) files and added phpx to js/vendor/ace/src-noconflict/ext-modelist.js as well. I added the mime type "text/php-x" and the assignment phpx => php. But after purging the browser cache and reload ownCloud, there is still no support for the phpx files and the file is downloaded. Where I have to adjust the code as well? Regards!

[2016-06-21 10:41] PVince81 commented on #176
It's a problem with the tooltip which doesn't re-render itself with the new contents. Needs a hack that removes + re-adds the tool tip.

[2016-06-21 10:42] PVince81 commented on #176
junior job -> 9.2

[2016-06-21 10:49] SergioBertolinSG opened #183 "Allow users to choose how newlines are handled"
Currently text files are stored with unix style carriage returns.
That makes windows users to need a proper text editor to read them.

It would be nice to have an option to create files with windows newline style instead of only unix.

[2016-06-22 18:23] RealRancor commented on #182
Maybe this hint still works: https://github.com/owncloud/files_texteditor/issues/109

[2016-06-22 18:23] RealRancor commented on #177
Maybe this hint still works: https://github.com/owncloud/files_texteditor/issues/109

[2016-06-22 18:24] RealRancor commented on #159
Btw. duplicate of https://github.com/owncloud/files_texteditor/issues/105

[2016-06-23 07:21] scriptPilot commented on #182
Thank you for that hint!

[2016-06-23 10:48] jancborchardt commented on #105
Closing as duplicate of https://github.com/owncloud/files_texteditor/issues/159 because there’s more info there.

[2016-06-23 10:48] #105 closed

[2016-06-23 10:48] jancborchardt commented on #159
@RealRancor thanks! Closed that issue in favor of this cause we have more info here.

[2016-07-12 09:42] PVince81 commented on #157
Backlog for now, unless someone has time to look into this for 9.2.

[2016-07-12 10:00] PVince81 commented on #66
That's the old editor. Since 8.2 it's a popup.

Closing as obsolete.

[2016-07-12 10:00] #66 closed

[2016-07-21 13:41] quassum commented on #95
9.1.0 still needs this addition to the .htaccess file to make it work.

[2016-07-23 04:02] TheGrave commented on #169
Still broken in 9.1.0. More annoying how no developer takes responsibility FOR HALF AN YEAR to even check the broken feature.

[2016-07-25 07:13] kralizeck commented on #169
It's a pity.
First, in my opinion, don't complain unless you had paid for enterprise edition. Be grateful for this useful and powerful FREE software.
Second, as a workaround, Ctrl+G works for search with Firefox (only one time) and Chrome (multiple times). Doesn't tested with IE or Edge.
It is a coarse patch, but do the job.

[2016-07-25 09:53] TheGrave commented on #169
And that's the kind of attitude that makes us not recommend the enterprise version to anyone - paying more attention to bug reports from paid customers. This can be observed from multiple other tickets too. For comparison I can give you Group Office - I get adequate responses by their support team for bug reports in the forums even though I don't use the paid version.

Anyway, Ctrl+G (and Ctrl+F)

[2016-08-02 19:22] Kycko commented on #182
Hey guys, it also would be a good idea to have an ability to edit text files **without** any extension. I mean such files as _.gitconfig_ or _.zshrc_, or any other file

[2016-08-12 07:37] scriptPilot commented on #182
Maybe it would be an idea to make it configurable in the preferences, which kind of files are editable and which one are downloaded.

[2016-08-12 14:02] Kycko commented on #182
Yup. As I know, while using Dropbox you can not edit such files, but you can watch it's contents in web interface - it's a good solution too

[2016-08-15 10:08] scriptPilot opened #185 "Save fold/collapse of text blocks"
I like very much the online editor of ownCloud. But if I open a file, collapse some text blocks (functions) it would be very nice to have the same collapsed view the next time I will open the same file.

[2016-08-24 05:51] herrdeh opened #186 "[enhancement] enable editing to anonymous users"
For co-working with colleagues who are not part of our company, I'd appreciate a feature to enable editing a text file which is shared by a link.

Optional password protection obviously should be possible.

Cheers,
Wolf

[2016-09-08 07:58] scriptPilot commented on #182
Is there any approach to handle this request? Regards!

[2016-09-08 08:00] DeepDiver1975 commented on #182
# Contributions are welcome!

![this-is-open-source](https://cloud.githubusercontent.com/assets/1005065/18341601/faf97b6e-75aa-11e6-8b10-acbc28cc8f94.jpg)

[2016-09-08 11:40] Kycko commented on #182
@DeepDiver1975 unfortunately I know only Python and Bash :(

[2016-09-17 18:59] #39 closed

[2016-09-17 18:59] #44 closed

[2016-09-26 10:15] #55 closed

[2016-09-26 10:15] #42 closed

[2016-10-06 10:32] #67 closed

[2016-10-06 10:32] #83 closed

[2016-10-11 15:40] #98 closed

[2016-10-11 15:41] #102 closed

[2016-10-20 16:10] PVince81 commented on #155
closing as duplicate of https://github.com/owncloud/core/issues/21526

[2016-10-20 16:10] #155 closed

[2016-12-08 16:33] PVince81 commented on #175
Did you call it "Documents.txt" or did you manually remove the extension ?

[2016-12-09 08:22] SergioBertolinSG commented on #175
Removed the extension manually. It has to be the same name as a folder.

[2016-12-09 08:57] PVince81 commented on #175
Well then it is normal that you can't create it as you can't have a directory entry that is both a file and a folder at the same time

[2016-12-09 08:57] PVince81 commented on #175
please don't tell me that Mac allows this 🙈

[2016-12-09 09:14] SergioBertolinSG commented on #175
Ah, no, my mistake. In mac it lies to you a little when renaming in finder, you need to open properties of the file to properly remove the extension.

[2016-12-09 09:14] #175 closed

[2017-01-25 21:33] ahmedabt opened #192 "cmd and bat file extensions are missing"
".cmd" and ".bat' file extensions are missing however they are just plain text windows script files.

Also, I would recommend to add "open with" option so user can easily open any plain text based file.

[2017-02-19 14:16] ahmedabt commented on #192
What's the due date for 10.0 milestone?

[2017-02-20 13:39] #192 closed

[2017-02-20 13:40] DeepDiver1975 commented on #192
End of March or later .... when it's done :wink:

[2017-08-02 06:59] PVince81 opened #201 "Send last known etag on save to detect conflicts"
When saving the file, send the last known etag of the file at the time of the edit.

Then the server side needs to check whether the current etag matches. If yes, accept the save.
Else display a conflict dialog of some sorts ?

If the text editor were using Webdav (it's not), it would be a matter of sending an `If` header precondition with the PUT.

[2017-08-07 12:14] fd0 opened #202 "Requesting file with zero byte (%00) reveals local path"
Hi,

we've discovered that the function `loadfile` from the texteditor from ownCloud 9.1.6.2 can be used to make owncloud reveal the local path to the files stored for the user by requesting a file with a null byte (encoded as `%00`):

[code]

The server's response then includes the local path:
[code]

I apologize if this is the wrong repository to report this issue to, but I did not find any bett

[2017-08-20 13:20] sphakka opened #203 "Allow browser's native spell checker in editing area"
According to [this post](https://github.com/ajaxorg/ace/issues/2107#issuecomment-268594873), adding these attributes
[code]
to the editing area node `<div id="editor" ...>` allows the browser's native spell checker to work properly.

Until ACE reacts to this, the following patch does the trick:
[code]
Tested on FireFox-52.2 and SeaMonkey-2.48 :-) Mind that, wrt plain text areas, spell checking opt

[2017-08-31 16:17] phil-davis opened #205 "recently typed text lost when closing editor"
1) open the text editor (new or existing file)
2) type some stuff
3) press the close button

Sometimes not all the typed text is saved.

This happens sometimes in automated UI tests, where the time between the input typing and pressing the close button is reasonably short. Typically the last couple of characters typed are not found in the file.

[2017-08-31 16:18] phil-davis commented on #205
Without having looked at the underlying code, I guess there is some Java Script / AJAX happening at intervals to save the file. And I guess the close button is not doing a final save, it just closes the text area box, throwing away any unsaved edits.

[2017-08-31 16:22] phil-davis commented on #179
@PVince81 I do not see any "save" button - was there one in the past?
It seems to now just auto-save "all the time". If I make edits and do not like them, there is no chance to cancel - "the system" seems to have already saved my mistakes.

Somewhat related, I raised #205 - the close button can be pressed too quickly and recent edits are lost.

[2017-08-31 16:35] phil-davis commented on #176
Fixed in core master https://github.com/owncloud/core/pull/27964
and in core stable10 https://github.com/owncloud/core/pull/28151

[2017-08-31 16:35] #176 closed

[2017-08-31 16:51] phil-davis commented on #152
It works for me in 10.0.3-beta2 and current files_texteditor:
1) Create some text file t.txt and type stuff in it.
2) Mark it as a favorite
3) Click and open the file to edit - works
4) Go to Favorites
5) Click and open the file to edit - works

I tried in a sub-folder etc also. Cannot find how it is broken. Please reopen and give more detail if you can reproduce this.

[2017-08-31 16:51] #152 closed

[2017-08-31 17:51] PVince81 commented on #179
@phil-davis the save button existed in ancient times and has been designed away, you might find it with a bit of git or github archeology.

cc @tomneedham

[2017-09-01 00:44] phil-davis commented on #179
So this can be closed?
Because if there is no save button, then it can't be broken.

[2017-09-01 01:53] phil-davis commented on #205
During typing there is regular "Saving..." shown in the top bar of the text editor box (that is OK), but there is also lots of:
[code]
The file does get saved (maybe after the user has stopped typing for a second or so?), but this message does not inspire confidence.

[2017-09-14 10:39] phil-davis opened #209 "Test Plan for Release in Sep 2017"
# Files Text Editor

### Server: v10

### Setup
1. Install and enable the files_texteditor app.
2. Create a "regularuser" and login to that.
3. When entering or editing text in the file, use a range of different/special characters and multiple lines.
4. When checking file contents after editing, first close the editor window then click the file again to open the editor window.

Note: most tests ar

[2017-09-14 11:04] phil-davis commented on #209
Note: labels/milestones available in this repo are old-format.
Someone could update those things one day when care factor is high enough.

[2017-09-14 13:51] pmaier1 opened #210 "Release checklist"
QA
- [x] create release branch ? or just put a v2.2.1 tag at the head of current master?
- [x] bump version to 2.2.1 #211
- [x] create testplan and test cases Link: #209
- [x] test and document in testplan. Final release "Go"

Marketing

No time now

Build
- [x] makefile for the app ?
- [x] Add changelog if possible in time #208 #212
- [x] sign and build tarball
- [x] upload to marketplace
- [x] r

[2017-09-14 13:59] pmaier1 commented on #210
Just saw that there already is a changelog :+1: is it up-to-date?

[2017-09-14 14:18] phil-davis commented on #210
Changelog is good.
#211 and #212 for approval and merge. then someone with more god-like powers can do adding version tag to the repo and make tarball...

[2017-09-15 07:57] DeepDiver1975 commented on #209
close? @phil-davis THX

[2017-09-15 08:49] #209 closed

[2017-09-15 10:21] #210 closed

[2017-10-30 08:49] PVince81 opened #214 "Editor closes when selecting text"
### Steps:

1. Open text editor
1. Type in a row of text
1. With the mouse, hold left button down around the end of the sentence and drag the mouse to the left to select the text. Continue moving and exist the text editor window and release the button there.

### Expected
Text is selected, editor remains.

### Actual
Editor closes.
Bug is likely that there's a mouseup event outside the text editor

[2017-11-06 10:10] PVince81 commented on #205
I saw this message too today while typing random text for testing. Mostly you need to type while it is already saving.

[2018-01-08 09:58] fbennett opened #222 "Text display error"
(Our ownCloud endpoint reports version 12.0.33 from `status.php`. That can't be right, can it&mdash;I will get onto our IT staff to find out the actual version, and edit here.)

In any case, we're seeing the following error intermittently, when the error reported at #223 does not occur:

## Steps to reproduce
1. In the web view of a subdirectory, create a named text file with `+`:arrow_right:`New

[2018-01-08 10:05] fbennett commented on #222
Actually, we're getting erratic failures of several kinds with `+`:arrow_right:`New text file`. I will see if there are steps that reliable produce this and other faults we're seeing, and post again.

[2018-01-08 11:59] fbennett commented on #222
I can't find a consistent pattern that triggers the behavior, but there are two other scenarios that occur. I will post descriptions of them separately.

[2018-01-08 12:24] fbennett commented on #222
This is the second of three failure sequences.

## Steps to reproduce
1. In the web view of a subdirectory, create a named text file with +:arrow_right:New text file.
2. Nothing further occurs.
3. Refreshing the display brings the file into the listing (and not prefixed with path clutter)
4. Clicking on the filename opens the editor
5. After typing text into the editor, the status line at the top

[2018-01-08 13:02] fbennett opened #223 "Text edit error: file is locked"
This is one of two failure scenarios we are seeing in our OC installation. The other is reported at #222. As noted in the other report, the OC version on the server is unclear. I will add that info here after confirming with our admins.

## Steps to reproduce
1. In the web view of a subdirectory, create a named text file with `+`:arrow_right:`New text file`.

## Expected
The file should open for e

[2018-01-15 16:44] psinghal20 commented on #156
Hi, I would like to work on this issue. Can you help in proceeding with this issue?

[2018-01-29 14:35] settermjd commented on #202
I'm not able to repeat this. When I try, I get the following response back `{"message":"CSRF check failed"}`.

[2018-01-29 18:12] fd0 commented on #202
Thanks for the feedback. You need to pass the CSRF token in the HTTP header `requesttoken`, like this:

[code]

(Real example, I've just replaced the domain name).

[2018-01-29 18:22] fd0 commented on #202
That's with 10.0.4 by the way.

[2018-03-15 12:28] cdamken opened #229 "Creating a big file over the text editor generates a checksum error"
Steps to reproduce:

1.- Create a New file over WebIU   + -> Create Txt File
2.- Paste a big text document (in my case more than 1000 lines of text)
3.- Close immediately the file.

Wait.

4.- Sync-client says in the activity tab (Not Synced)
`The downloaded files does not match the checksum, it will be resumed.`

@tomneedham @jnweiger

[2018-03-15 12:42] fbennett commented on #222
Sorry about this -- I subsequently learned from our IT department that the service is based on a different platform. I should have followed up here.

[2018-03-15 15:54] #222 closed

[2018-03-15 15:55] cdamken commented on #223
Closing because https://github.com/owncloud/files_texteditor/issues/222#issuecomment-373362747

[2018-03-15 15:55] #223 closed

[2018-04-09 07:38] settermjd commented on #202
@tomneedham, are you still chasing this?

[2018-07-18 11:25] felixheidecke opened #236 "jQuery Core 1.9 Upgrade Guide"
# jQuery Core 1.9 Upgrade Guide

Changes of Note in jQuery 1.9
See the full [upgrade guide at jquery.com](http://jquery.com/upgrade-guide/1.9/)

## Removed

`.browser()`

`.live()`

`.die()`

`.sub()`

`.andSelf()`

## Changed

`.toggle()`

`.add()`

- [ ] js/vendor/ace/src-noconflict/ace.js
- [ ] js/vendor/ace/src-noconflict/keybinding-emacs.js
- [ ] js/vendor/ace/src-noconflict/keybinding-vim.js

[2018-07-20 16:32] PVince81 commented on #236
hmmm, that's the bundled ace text editor... seems we might need to upgrade it to a version compatible with jquery 2-3

[2018-07-31 11:36] felixheidecke commented on #236
Works as expected. Had to update the [grep script](https://gist.github.com/felixheidecke/c32ab1b38f7091f5c5d18d4a24fd0024#file-jquery-1_9-upgrade-php-L29) because the script found more than it should have 😅

[2018-07-31 11:36] #236 closed

[2018-08-21 08:37] phil-davis opened #242 "Move CI from Travis to drone"

[2018-08-27 16:09] miqrogroove opened #243 "Can't Select Text on Android"
I just installed the Text Editor plugin for ownCloud X and already have a problem with it in the Chrome browser on my Android phone.  When the text editor is open, the native text selector seems unavailable.  The only available option with a long tap is SELECT ALL, which is not what I want.

In this respect, the Text Editor is much less useful than a normal HTML or text/plain display in Chrome.

[2018-08-28 07:54] patrickjahns commented on #242
Priority here is also quite low - most likely with phoenix, this app will become deprecated

[2018-08-28 13:09] felixheidecke opened #244 "jQuery UI Upgrade"
# jQuery UI Upgrade

See the full [upgrade 1.11. guide](https://jqueryui.com/upgrade-guide/1.11/)

See the full [upgrade 1.12. guide](https://jqueryui.com/upgrade-guide/1.12/)

## [1.11] (Core) Deprecated multiple

`.focus()`

- [ ] js/editor.js
- [ ] js/vendor/ace/src-noconflict/ace.js
- [ ] js/vendor/ace/src-noconflict/ext-searchbox.js
- [ ] js/vendor/ace/src-noconflict/keybinding-emacs.js
- [ ]

[2018-08-29 08:55] PVince81 commented on #244
all focus usages unrelated

[2018-08-29 08:55] #244 closed

[2018-08-31 04:18] phil-davis opened #248 "CI acceptance tests failing"
- [x] testing app is not there

[2018-09-10 05:13] #248 closed

[2018-10-19 17:41] miqrogroove commented on #243
I'm making progress on a workaround here:

https://github.com/miqrogroove/files_textviewer

These might be different use cases, but it would be nice to see improvements in the editor some day.

[2018-10-20 19:01] PVince81 opened #251 "[For 10.1] Text Editor 2.3.0"
### Reason
- Set max-version to 10.1 because [core platform switches to Semver](https://github.com/owncloud/core/pull/33242): https://github.com/owncloud/files_texteditor/pull/226
- PHP 7.1 and 7.2 support: https://github.com/owncloud/files_texteditor/pull/216
- clean unused imports: https://github.com/owncloud/files_texteditor/pull/215

### QA
- [x] Create **QA Milestone**
- [x] Move items from `

[2018-10-23 22:29] sagar-srivastava opened #253 "full screen "Text Editor" like old versions"
I use Text editing heavily, store logs, command outputs etc.
in the new version, I dislike the smaller window popup text editor which wastes a lot of my screen "realstate" which gets worst on a laptop screen.

How can we have the option of full screen, full width/full length text editing?

[2018-11-05 08:13] dpakach opened #258 "Add make commands"
Make commands like `make test-php-style` and `make test-php-unit` are still not added in this app
so they need to be added

[2018-11-12 11:01] #258 closed

[2018-11-14 04:15] individual-it opened #260 "UI tests failing"
`Notice: Undefined property: Page\TextEditorPage::$newFileFolderButtonXpath in /var/www/owncloud/apps/files_texteditor/tests/acceptance/features/lib/TextEditorPage.php line 102`

[2018-11-14 10:04] #260 closed

[2018-11-15 13:53] phil-davis commented on #242
done

[2018-11-15 13:53] #242 closed

[2018-11-19 04:39] dpakach opened #265 "Fix style and add style check in drone"
currently this app is not up to owncloud coding standard and the style check is also not added in drone.
style check  can be done using `make test-php-style`
That needs to be added in the drone.yml file

[2018-11-19 07:03] dpakach commented on #265
done

[2018-11-19 07:03] #265 closed

[2018-11-22 11:11] phil-davis opened #267 "Move unit tests into tests/unit folder"
Check these things:

- [x] move unit tests into ``test/unit`` folder #268
- [x] put ``phpunit.xml`` into the root folder - already there
- [x] review Makefile etc to make the test infrastructure "standard" - looks up-to-date
- [x] anything else to make the CI and drone "standard" - looks up-to-date

[2018-11-27 05:44] phil-davis commented on #267
PR has been merged.

[2018-11-27 05:44] #267 closed

[2018-11-27 06:26] phil-davis opened #269 "Use phpunit from core and remove lint"
``composer.json`` still has:
[code]
we can get rid of ``phpunit`` and ``php-parallel-lint`` like is done in other app repos.

Part of https://github.com/owncloud/QA/issues/582

[2018-11-29 13:20] davitol opened #271 "Tracking Test results for Text Editor 2.3.0"
# Files Text Editor

### Server: Tested on oC 10.0.10

### Setup
1. Install and enable the files_texteditor app.
2. Create a "regularuser" and login to that.
3. When entering or editing text in the file, use a range of different/special characters and multiple lines.
4. When checking file contents after editing, first close the editor window then click the file again to open the editor window.

No

[2018-11-29 13:22] davitol commented on #271
**Changelog**

  - [ ] Set max-version to 10.1 because core platform switches to Semver: #226 **checked the appinfo.xml file and installing and enabling the tarball
  - [ ] PHP 7.1 and 7.2 support: #216 Tested with PHP 7.1. Also CI runs php 7.2. tests.
  - [ ]  clean unused imports: #215

[2018-11-29 13:29] #271 closed

[2018-11-29 14:43] PVince81 commented on #251
@DeepDiver1975 please upload to marketplace: https://cloud.owncloud.com/index.php/s/MyLPzBwld0TNCdU

changelog here: https://github.com/owncloud/files_texteditor/blob/release-2.3.0/CHANGELOG.md#230

[2018-11-30 09:43] DeepDiver1975 commented on #251
released

[2018-12-12 08:52] phil-davis commented on #269
PR #273 merged

[2018-12-12 08:52] #269 closed

[2019-01-27 03:08] phil-davis opened #280 "Acceptance test intermittent fails in editTextFiles.feature"
This scenario fails intermittently:
https://drone.owncloud.com/owncloud/files_texteditor/113/135
[code]

``theUserOpensTheFileOrFolderUsingTheWebUI`` in core has been refactored recently, and it (like other acceptance test methods) expects the files page to be ready when it is called.

But ``And the user closes the text editor`` just clicks the close button and does not wait until the editor is re

[2019-01-27 16:18] individual-it commented on #280
Fixed by #281

[2019-01-27 16:18] #280 closed

[2019-02-01 09:28] davitol opened #282 "Text editor needs to detect 423 locked http code"
### Steps to reproduce
1. From server A (oC 10.1) federate share a text file to server B (oc 10.0.10)
2. Lock the file in server A
3. On server B, open the file with text editor

### Expected behaviour

Text editor should warn that the file is locked

### Actual behaviour

![editorrrr](https://user-images.githubusercontent.com/10596560/52114335-1678f680-260c-11e9-8d59-56d2ecbbda6d.png)

[2019-04-23 09:52] snowguardgit opened #289 "Texteditor issue strange keyboard behaviour"
I have an almost new installation of owncloud on my VPS, it’s for a friend who need to cooperate with other people with TXT files.

All went smoothly until I ran in a little issue when i show him how the owncloud works in a shared file, from his mobile phone, via Chrome browser, he cannot edit a TXT files properly, when he try to write something, words on files were different from words he typed.

[2019-05-08 12:18] individual-it opened #290 "opening a big file does mess up the file listing"
try to open a big .txt file

before:

![image](https://user-images.githubusercontent.com/2425577/57374778-693ded80-71bb-11e9-91a9-4c929f87ddd7.png)

then:
![image](https://user-images.githubusercontent.com/2425577/57374805-7824a000-71bb-11e9-8fb7-077a496cff3d.png)

afterwards:
![image](https://user-images.githubusercontent.com/2425577/57374818-84106200-71bb-11e9-89c1-f97be37fe31c.png)

size and mo

[2019-09-05 08:47] #251 closed

[2020-03-12 16:06] mattygazzo opened #312 "Texteditor can't create a new file on external storage"
Hello, i'm using an owncloud installation on ubuntu 18.04 LTS and it works perfectly. I use an external smb/cifs storage with explicit username/password that can read/write on this folder. When i try to create a new txt file, a warning message appears "Could not create file "New text file.txt"". But when i try to create a txt on my user folder (not in an external storage) it works. Can you check p

[2020-03-18 08:52] jukkapirinen2 commented on #290
related to this https://github.com/owncloud/core/issues/35080

[2020-03-23 09:50] #290 closed

[2020-11-10 13:39] jnweiger opened #326 "make appstore fails on sign server"
https://github.com/owncloud/administration-internal/blob/master/release-scripts/makedailysnapshots.sh#L68
currently cannot build a daily-master-complete tar ball.

[code]

[2020-12-11 09:39] JanAckermann opened #330 "Enhanche context menu entry"
Change name 'Edit' to a specific one and added  a i18n display name which should be shown in context menu

[2020-12-12 15:23] phil-davis opened #332 "Release TextEditor 2.3.1"
##Reason

PR #331 adjusted the text shown for opening a file from "Edit" to "Open in Text Editor" to be consistent with files_pdfviewer and richdocuments. That gives consistency for core https://github.com/owncloud/core/pull/38132 which allows multiple file open options in the UI.

PR #333 added extra detection of codings for Chinese and Japanese character sets. That will need some manual testing

[2020-12-13 21:01] mmattel commented on #330
Closing because of merge PR #331

[2020-12-13 21:01] #330 closed

[2021-01-22 09:38] mmattel commented on #332
@micbar could you start the process for building a public release that is available on marketplace?

[2021-01-23 13:45] micbar commented on #332
@mmattel the release is already on the queue.

[2021-04-30 10:29] jnweiger opened #342 "[QA] 2.3.1 Testplan"
# Files Text Editor

### Server: v10

### Setup
1. Install and enable the files_texteditor app.
2. Create a "regularuser" and login to that.
3. When entering or editing text in the file, use a range of different/special characters and multiple lines.
4. When checking file contents after editing, first close the editor window then click the file again to open the editor window.

Note: most tests ar

[2021-05-04 01:04] jnweiger opened #343 "[QA] nondescriptive action "Edit" on TXT file action chooser"
Seen with richdocuments 2.5.0RC2 on server 10.7.0

* create a plain text file, add some lines, save.
* click the file
![image](https://user-images.githubusercontent.com/1108546/116950464-56b0fe80-ac85-11eb-8dcb-edfdb841b64c.png)

Expected behaviour: The option should be named "Text-Editor" instead of "Edit"

Similar to owncloud/richdocuments#388 (which was about PDFs)

[2021-05-06 06:01] JammingBen commented on #343
This was already fixed a few months ago, the release is still pending: https://github.com/owncloud/files_texteditor/issues/332

The text is "Open **in** Text Editor" though. Should we leave it like that, or change again? @pmaier1

[2021-05-06 08:00] pmaier1 commented on #343
Thanks, all good :+1:

[2021-05-06 08:00] #343 closed

[2021-05-07 08:47] iHerrmann77 opened #345 "[QA] files with invalid name will be created"
Files with ".", ".." will be created and are hidden files.

Expected: A tooltip is shown '".." is an invalid name'

![invalid_filname](https://user-images.githubusercontent.com/63246306/117423859-71070880-af21-11eb-8dca-5dfa7a646bcc.png)

[2021-05-07 08:47] iHerrmann77 commented on #342
https://github.com/owncloud/files_texteditor/issues/345

[2021-05-07 08:49] phil-davis commented on #345
`..txt` is a valid file name. `..` by itself should give an error message. There are automated acceptance test scenarios for that:
https://github.com/owncloud/files_texteditor/blob/master/tests/acceptance/features/webUITextEditor/createTextFiles.feature#L108

[2021-05-07 13:31] #345 closed

[2021-05-07 14:06] jnweiger commented on #343
Confirmed fixed in files_texteditor-2.3.1RC1 -- Thank you!

![image](https://user-images.githubusercontent.com/1108546/117461673-1f28a780-af4e-11eb-9f05-93a3ce36375a.png)

[2021-05-07 14:39] jnweiger commented on #345
@phil-davis I've found the webUITextEditor tests are run e.g. in https://drone.owncloud.com/owncloud/files_texteditor/1117/16/1
Is this the correct place to look? It does all tests only with php-7.2 -- judging from the names.

[2021-05-07 14:53] phil-davis commented on #345
@jnweiger that is the test suite that tests files_texteditor with activity app together.
https://drone.owncloud.com/owncloud/files_texteditor/1117/14/10 has the "regular" test scenarios - 17 of them.

We run acceptance tests with PHP 7.2, the oldest supported version of PHP. We could easily run them all 3 times, for PHP 7.2 7.3 and 7.4. Doing that in core and all oC10 apps would take a large amoun

[2021-05-07 15:05] jnweiger commented on #345
I see your point, we need to be efficient with unmerged PRs.
But when doing a release, I am more interested in compatibility with php-7-4, as that is what we recommend to customers. Tests based on the recommendations are minimums for release approval.

[2021-05-07 15:09] phil-davis commented on #345
@jnweiger We can easily run CI for any version of PHP. Create an issue, maybe in https://github.com/owncloud/enterprise/ or https://github.com/owncloud/qa ? And we can all discuss what is the appropriate mix of automated testing in CI. Maybe we could just switch to running all acceptance test CI with PHP 7.4.

[2021-05-10 08:49] jnweiger commented on #342
Release done :+1:

[2021-05-10 08:49] #342 closed

[2021-05-10 09:11] #332 closed

[2021-05-15 09:59] mmattel opened #347 "files_texteditor does not have a logo"
looking akward on marketstore

![image](https://user-images.githubusercontent.com/3321281/118356290-c6bc6000-b574-11eb-8ff0-3d8970a8f626.png)

[2021-06-07 23:33] jnweiger opened #348 "[QA] shows "saved" message, when the file cannot be saved"
Seen with 2.311 on oc10.7.0

* Configure WND drive with samba.
* place an empty hello.txt file in the samba drive, as root user.
* run `occ file:scan --all` - the hello.txt file shows up in the web UI.

* edit wth files_texteditor, add some lines of text.
* Messages appear: "Saving..." - "saved"
* In fact the file was not saved. BAD. The file size in the storage is still 0, the permission are stil

[2021-08-30 13:48] JanAckermann opened #356 "Release files_texteditor 2.4.0"
# files_texteditor 2.4.0

### Resons
- PR #355 Added public link support

[2021-08-30 13:51] JanAckermann commented on #347
![image](https://user-images.githubusercontent.com/26169327/131349927-958187c9-4426-4daa-b4e8-bc26236bedbc.png)

[2021-08-30 13:51] #347 closed

[2021-10-05 22:37] jnweiger opened #359 "[QA] 2.4.0 Testplan"
# Files Text Editor

### Server: v10

### Setup
1. Install and enable the files_texteditor app.
2. Create a "regularuser" and login to that.
3. When entering or editing text in the file, use a range of different/special characters and multiple lines.
4. When checking file contents after editing, first close the editor window then click the file again to open the editor window.

Note: most tests ar

[2021-10-12 09:22] xoxys opened #361 "v2.4.0 is causing issues on ownCloud 10.8"
There seems to be an issue after upgrading to v2.4.0 on ownCloud 10.8

[code]

[2021-10-12 09:56] JanAckermann opened #363 "Release files_texteditor 2.4.1"
# files_texteditor 2.4.1

### Reasons
- PR https://github.com/owncloud/files_texteditor/pull/362

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ...
- [ ] Ping pmaier to check `info.xml` description a

[2021-10-12 09:58] #361 closed, assigned to AlexAndBear

[2021-10-12 12:13] jnweiger commented on #363
### CHANGELOG testing
* [ ] Add missing namespace in info.xml file #362
  - [ ] test plain install according to docs
  - [ ] test with docker image owncloud/server:10.8.0

Expected behaviour:
- no php errors,
- no weird `occ upgrade` needed.

[2021-10-12 23:25] GeraldLeikam commented on #363
closed after release

[2021-10-12 23:25] #363 closed

[2021-11-02 12:59] voroyam opened #366 ""Google Android License.txt" is missing"
Steps to reproduce:

1. get oC 10.8
2. install files_texteditor or Texteditor via Market App
3. run `occ integrity:check-app files_texteditor`

Expected:
no issues

Result:
[code]

probable cause - file name has spaces, file is not included in the app package on install.

@jnweiger

I tried getting the file directly from GH but the hash is still different so the integrity check error persists.

[2021-11-02 13:04] jnweiger commented on #366
In files_texteditor 2.4.1 this file is present:
[code]

Also present in files_texteditor-2.3.1

[2021-11-02 13:06] voroyam commented on #366
[code]

[2021-11-02 13:08] voroyam commented on #366
[code]

[2021-11-02 13:10] jnweiger commented on #366
That is unforunately "normal". Many apps fail app:check-code -- I have stopped reporting these. Requires product owners attention.

[2021-11-02 13:17] jnweiger commented on #366
[code]

Identical download from
![image](https://user-images.githubusercontent.com/1108546/139853772-6347fc0d-4238-40f7-a2ce-72d8a6616deb.png)

Do we somehow skip files with 'whitespace in them' during the file during install?

My install procedure is
[code]

[2021-11-02 13:24] jnweiger commented on #366
Upgrade from 2.3.1 (as shipped with 10.8 to 2.4.1 via web ui also works fine for me:

![image](https://user-images.githubusercontent.com/1108546/139855284-479bc2e2-e358-4e63-81df-1f59aa7c4a5f.png)

[2021-11-02 15:16] voroyam commented on #366
manual installation worked for me, download latest release, unpack, move to apps-external, change perms, enable app.

market installation did not work, neither via webUI nor the occ command.

[2021-11-15 11:28] stilltldr commented on #361
Hi,

maybe related, since the update, I cannot access the webinterface anymore. Not a docker instance. Logs say:

`TypeError: Return value of OCA\Files_Texteditor\AppInfo\Application::registerEventHooks() must be an instance of OCA\Files_Texteditor\AppInfo\void, none returned at /PATH/TO/WWW/DIR/owncloud10/apps/files_texteditor/appinfo/application.php#73`

[2021-11-15 11:33] stilltldr commented on #361
PS: had to disable the TextEditor to access the web interface again